[2019-07-09 20:42] sainho93 opened #7 "New workflow for drawing"

[2019-07-09 20:43] sainho93 opened #8 "Background picture importing dialog"

[2019-07-09 20:44] sainho93 opened #9 "Add default values in inifile widget"

[2019-07-09 20:45] sainho93 opened #10 "Fix "undefined lines""

[2019-07-09 20:45] sainho93 opened #11 "Define stairs failed"

[2019-07-09 20:57] sainho93 opened #12 "Fix undo for new elements"

[2019-07-09 20:57] sainho93 opened #13 "Fix selecting for new elements"

[2019-07-11 06:25] chraibi opened #14 "Editing von existing geometries"
In Gitlab by @chraibi on Dec 16, 2014, 12:30 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/1)]

It would be good if we could import an XML-file (existing JPS geometry) and edit it in in the GUI

[2019-07-11 06:25] chraibi commented on #14
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:25] chraibi commented on #14
In Gitlab by @sainho93 on Nov 2, 2018, 14:13

mentioned in commit b33d2acdb26d03463c788ca2ac32ee1eeb529ca4

[2019-07-11 06:25] #14 closed

[2019-07-11 06:25] chraibi opened #15 "Write geometry as XML"
In Gitlab by @chraibi on Dec 16, 2014, 12:32 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/2)]

Drawing works fine. After one try the results looks  like:

[code]

Is there any change to write that file in the appropriate xml-format for JuPedSim's geometries? ;-)

[2019-07-11 06:25] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:25] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by OSchmidts on 17 Dec 2014, 11:32_

---

i think this is done?

[2019-07-11 06:25] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by andresen on 17 Dec 2014, 12:11_

---

May be we want to add the possibility to add hLines and optional goals? There's still a problem with writing the XML file including obstacles. Is it necessary to generate obstacles by a closed polygon?

[2019-07-11 06:25] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by chraibi on 17 Dec 2014, 18:03_

---

For the obstacle issue #11 is closed.
Hlines and goals are necessary. I think this issue should be closed.
Other options and or problems can have their own ticket.

[2019-07-11 06:26] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by andresen on 18 Dec 2014, 08:58_

---

As I generated the obstacles in the way I build up the xml lines for subrooms (see issue #11 ) I wasn't able to picture the geometry with jpsVis. So there must be a difference in the handling of obstacles in the xml parser?!

[2019-07-11 06:26] chraibi commented on #15
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by andresen on 18 Dec 2014, 10:04_

---

No, the problem (and solution) was much simpler. All vertices of the obstacles had only an x-coordinate or rather the designation was always px. I fixed that

[2019-07-11 06:26] chraibi commented on #15
In Gitlab by @sainho93 on Nov 2, 2018, 14:16

mentioned in commit 5f366890a645b2016740727405feeb50949257c5

[2019-07-11 06:26] #15 closed

[2019-07-11 06:26] chraibi opened #16 "Open file"
In Gitlab by @chraibi on Dec 16, 2014, 12:35 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/3)]

Open file does not work.

Tried to open a file created by `JPSgui`.

[2019-07-11 06:26] chraibi commented on #16
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:26] chraibi commented on #16
In Gitlab by @sainho93 on May 27, 2019, 18:04

mentioned in commit 00062033b2248fed16bdbf5489adc778b80a97b6

[2019-07-11 06:26] #16 closed

[2019-07-11 06:26] chraibi opened #17 "Documentation"
In Gitlab by @chraibi on Dec 16, 2014, 12:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/4)]

Start documenting  the features.

What can we already do with this?

[2019-07-11 06:26] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:26] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by chraibi on 24 Mar 2015, 10:57_

---

mentioned in commit efcea9

[2019-07-11 06:26] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by chraibi on 29 May 2015, 18:42_

---

@andresen: You closed so many issues, which means you added so many beautiful features :+1:
Please think to keep track of them in the documentation.

[2019-07-11 06:26] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by andresen on 13 Jul 2015, 09:53_

---

Video tutorial uploaded on
https://www.youtube.com/watch?v=c0xjZqrNXeM&feature=youtu.be

The video is still private.
Please view the video and give me some comments before we grant access the everyone

[2019-07-11 06:26] #17 closed

[2019-07-11 06:26] chraibi opened #18 "Language of the menubar should be english"
In Gitlab by @chraibi on Dec 16, 2014, 12:38 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/5)]

The menu bar is in german and the menu items in english.

[2019-07-11 06:26] chraibi commented on #18
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:26] chraibi commented on #18
In Gitlab by @sainho93 on May 27, 2019, 18:04

mentioned in commit 7b88512fd11d5a52723e204918d1f994fda99691

[2019-07-11 06:26] #18 closed

[2019-07-11 06:26] chraibi opened #19 "Sample files"
In Gitlab by @chraibi on Dec 16, 2014, 12:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/6)]

Add some sample files that can be opened

[2019-07-11 06:26] chraibi commented on #19
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:26] chraibi commented on #19
In Gitlab by @chraibi on Dec 17, 2016, 08:36

_Original comment by andresen on 15 Jul 2015, 10:11_

---

two examples files are added. Further files are planned

[2019-07-11 06:27] #19 closed

[2019-07-11 06:27] chraibi opened #20 "Nothing ist selected button"
In Gitlab by @chraibi on Dec 16, 2014, 12:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/7)]

Add a button to deselect all selected painting items

[2019-07-11 06:27] chraibi commented on #20
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:27] #20 closed

[2019-07-11 06:27] chraibi opened #21 "Scroll-level adaption"
In Gitlab by @chraibi on Dec 16, 2014, 12:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/8)]

Automatically show the area of interest while drawing a building, so you don't have to scroll first to see what you drew.

[2019-07-11 06:27] chraibi commented on #21
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:27] #21 closed

[2019-07-11 06:27] chraibi opened #22 "Highlight objects"
In Gitlab by @chraibi on Dec 16, 2014, 12:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/9)]

When objects are constructed (Rooms, obstacles), highlight them with a different color.

[2019-07-11 06:27] chraibi commented on #22
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:27] #22 closed

[2019-07-11 06:27] chraibi opened #23 "Grid"
In Gitlab by @chraibi on Dec 16, 2014, 12:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/10)]

Plot a visual grid in grid-modus

[2019-07-11 06:27] chraibi commented on #23
In Gitlab by @chraibi on Dec 17, 2016, 08:36

closed

[2019-07-11 06:27] #23 closed

[2019-07-11 06:27] chraibi opened #24 "polygons"
In Gitlab by @chraibi on Dec 16, 2014, 12:46 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/11)]

Write rooms in the xml-file as polygons containing one line

For example:

[code]

[2019-07-11 06:27] chraibi commented on #24
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:27] #24 closed

[2019-07-11 06:27] chraibi opened #25 "Not compiling with qt5"
In Gitlab by @chraibi on Dec 16, 2014, 13:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/12)]

The error is:

../jupedsim/src/GraphicView.cpp:97:27: error: 'class QGraphicsLineItem' has no member named 'translate'
             current_line->translate(pos.x()-old_pos.x(),pos.y()-old_pos.y());

The backwards compatible way is:
  //current_line->translate(translation_x,tr

[2019-07-11 06:27] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:27] #25 closed

[2019-07-11 06:27] chraibi opened #26 "Save geometry (only the lines ) as .dxf / read .dxf"
In Gitlab by @chraibi on Dec 18, 2014, 10:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/13)]

Yesterday I found this lib: http://www.ribbonsoft.com/de/what-is-dxflib.
Sounds promising to me. What do you think?

[2019-07-11 06:28] chraibi commented on #26
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:28] #26 closed

[2019-07-11 06:28] chraibi opened #27 "Compilation failed"
In Gitlab by @chraibi on Mar 23, 2015, 14:32 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/14)]

Can not compile the code. Whether with cmake not with qmake

20 errors generated like:

[code]

[2019-07-11 06:28] chraibi commented on #27
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:28] chraibi commented on #27
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 23 Mar 2015, 13:36_

---

I think this this function was introduced in Qt 5.1. See [Docu](http://doc.qt.io/qt-5/qstringref.html#toFloat).
However it seems that I have only Qt 4. :-1:

[2019-07-11 06:28] chraibi commented on #27
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 23 Mar 2015, 17:47_

---

Unless you have some crazy tricks  maybe converting to QString is OK (a bit slow, but maybe we don't care?)

[code]

[2019-07-11 06:28] chraibi commented on #27
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 24 Mar 2015, 10:58_

---

mentioned in commit efcea9

[2019-07-11 06:28] #27 closed

[2019-07-11 06:28] chraibi opened #28 "Auto save"
In Gitlab by @chraibi on Apr 2, 2015, 12:05 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/15)]

Auto-save regularly the actual state of the work. Useful in case of crash.

[2019-07-11 06:28] chraibi commented on #28
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:28] #28 closed

[2019-07-11 06:28] chraibi opened #29 "cmakelist not compatible with qt5"
In Gitlab by @chraibi on May 26, 2015, 11:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/16)]

CMake Error at D:/CMake/share/cmake-3.0/Modules/FindQt4.cmake:1316 (message):
  Found unsuitable Qt version "5.4.0" from
  D:/Qt/5.4/msvc2013_64/bin/qmake.exe, this code requires Qt 4.x
Call Stack (most recent call first):
  D:/CMake/share/cmake-3.0/Modules/FindQt.cmake:165 (

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 26 May 2015, 09:47_

---

Where is

[code]

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 26 May 2015, 10:53_

---

It is now pushed

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 27 May 2015, 15:28_

---

@andresen can you please post the output of cmake?
Delete first `CMakeCache.txt` and `CMakeFiles`

Please use the last version of `CMakeLists.txt`

Arigato!

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 28 May 2015, 08:35_

---

[CMakeOutput.log](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/2ef619201aeb23472a4f5a31cf177a18/CMakeOutput.log)
this is the output

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 17 Jul 2015, 00:10_

---

@andresen please post some updates.

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 17 Jul 2015, 07:14_

---

Using the flag it works. However, I get this warning when running cmake:

CMake Warning (dev) in CMakeLists.txt:
  Policy CMP0020 is not set: Automatically link Qt executables to qtmain
  target on Windows.  Run "cmake --help-policy CMP0020" for policy details.
  Use the cmake_policy command to

[2019-07-11 06:28] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 17 Jul 2015, 08:33_

---

from [cmake 3.0](http://www.cmake.org/cmake/help/v3.0/policy/CMP0020.html)

[code]

What is `qtmain.lib`? We can set this policy in the CMakefiles.txt if needed.

[2019-07-11 06:29] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 08 Jan 2016, 13:01_

---

Running cmake on windows I get this warning:
CMake Warning (dev) in CMakeLists.txt:
  Policy CMP0020 is not set: Automatically link Qt executables to qtmain
  target on Windows.  Run "cmake --help-policy CMP0020" for policy details.
  Use the cmake_policy command to set the policy and suppress

[2019-07-11 06:29] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 08 Jan 2016, 13:02_

---

I decided to use the old policy (see commit 9051f0cf)

[2019-07-11 06:29] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 08 Jan 2016, 13:03_

---

Cmake runs without warnings, now

[2019-07-11 06:29] #29 closed

[2019-07-11 06:29] chraibi opened #30 "crash while autosaving"
In Gitlab by @chraibi on May 28, 2015, 10:52 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/17)]

Might be due to memleak!
The screenshot tells me that a landmark is null

[Screenshot_from_2015-05-28_10_49_24](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/6b7883d091ccc5a526969a1171d3fa96/Screenshot_from_

[2019-07-11 06:29] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:29] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 28 May 2015, 09:43_

---

Fixed!

[2019-07-11 06:29] #30 closed

[2019-07-11 06:29] chraibi opened #31 "another cmake"
In Gitlab by @chraibi on May 28, 2015, 10:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/18)]

Did anyone try it on Ubuntu ?
I am getting (using qt4)

[code]
although all qt libs are installed.

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 15 Jul 2015, 06:26_

---

If I use the cmakelist I got this error:

CMake Error at D:/CMake/share/cmake-3.0/Modules/FindQt4.cmake:1316 (message):
  Found unsuitable Qt version "5.4.1" from
  D:/Qtmingw/Qt5.4.1/5.4/mingw491_32/bin/qmake.exe, this code requires Qt 4.x
Call Stack (most recent call first):
  D:/CMake/share/

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 15 Jul 2015, 07:04_

---

which cmake version do you have?

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 15 Jul 2015, 07:06_

---

3.0.2

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 15 Jul 2015, 07:30_

---

I'll check!

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 16 Jul 2015, 00:15_

---

mentioned in commit e663fcdfb57d2abf8cb52881c2977ce108fe21a5

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 17 Jul 2015, 00:09_

---

@piccolodream I just tested this on Debian with qt4 and qt5. It works.
Could you please confirm on Ubuntu?

[2019-07-11 06:29] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by kemloh on 17 Jul 2015, 11:07_

---

ubuntu and qt4 is working

[2019-07-11 06:29] #31 closed

[2019-07-11 06:29] chraibi opened #32 "Usability"
In Gitlab by @chraibi on May 28, 2015, 11:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/19)]

Remember the user to select a room first
if Add is clicked and nothing is selected.

[2019-07-11 06:29] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:29] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 29 May 2015, 07:39_

---

Now by default the last room in the list is automatically selected

[2019-07-11 06:30] #32 closed

[2019-07-11 06:30] chraibi opened #33 "Usability: filter duplicate walls from rooms"
In Gitlab by @chraibi on May 28, 2015, 11:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/20)]

That easily happens when you press add twice :-)

[2019-07-11 06:30] chraibi commented on #33
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:30] chraibi commented on #33
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 29 May 2015, 07:37_

---

Fixed!

[2019-07-11 06:30] #33 closed

[2019-07-11 06:30] chraibi opened #34 "Header and Licence in source files"
In Gitlab by @chraibi on Jun 17, 2015, 16:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/21)]

Please add header to your source files.
A sample is:

[code]

[2019-07-11 06:30] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:30] #34 closed

[2019-07-11 06:30] chraibi opened #35 "SegFault"
In Gitlab by @chraibi on Jun 30, 2015, 11:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/22)]

Occasionally one has to restart the program twice or trice to get ride of a nasty SegFault.
Problem observed under Linux and Mac OS.

[2019-07-11 06:30] chraibi commented on #35
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:30] #35 closed

[2019-07-11 06:30] chraibi opened #36 "Crossings/subrooms"
In Gitlab by @chraibi on Jun 30, 2015, 13:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/23)]

A rooms with one single subroom is created and many crossings.

JPScore expects that crossing are between subrooms, no within one subroom.

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

closed

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 07:22_

---

Please give me an example where jupedsim writes crossings within a subroom.

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 08:57_

---

@andresen see sttached file
[bottleneck.xml](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/bca9d04a18f57f6a126516399bca1572/bottleneck.xml)

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 09:20_

---

@chraibi Here the crossing are not saved within the subroom

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 09:22_

---

@andresen the problem is in this line

[code]

the ids are equal. JPScore expects crossings between two *different* subrooms.

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 09:31_

---

@chraibi Why is there only one subroom? There are supposed to be three subrooms right?

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 09:43_

---

I thought so. But, I do not know why only one subroom is exported.
Here is how I did:
1. draw all walls
2. draw all exits
3. create room by adding all walls
4. add exits
5. assign `from`  and `to` ids.

What do you get if you follow the same steps?

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 09:48_

---

Did you create three subrooms and did you add the walls to the subrooms they are belonging to?

[2019-07-11 06:30] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 09:50_

---

[bottleneck3subrooms.xml](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/da4a14ca77fd3ec4ec7435c07c53672e/bottleneck3subrooms.xml)

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 10:36_

---

@andresen I create one room. Is there a possibility to specify subtrooms within?

Here how my gui looks like:
![Screen_Shot_2015-07-07_at_12.35.26](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/cf64d49c219b2b9a15431ee5f024f230/

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 11:17_

---

You can only create subrooms in JuPedSim. Your whole drawing will be a room.

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 11:19_

---

@andresen  In this case I would suggest to ignore the crossings with

[code]

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 11:28_

---

![Unbenannt](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/10b33fbc0017059abf796c0464c542a9/Unbenannt.PNG)

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 11:29_

---

![Unbenannt2](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/f34baef774c5cc4274ef2764664b6f50/Unbenannt2.PNG)

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 11:29_

---

Here an example how the drawing should look like. (Room left, center and right are subrooms)

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 11:45_

---

@andresen that is the case of the ideal user. But, what happens if a user does not know and just creates _one_ room the way I did?

Whether we just ignore the crossings (in the case these have identical ids) or we document clearly how it should be done.

What do you think?

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 12:07_

---

The risk of confusion will vanish when we switch over to our new geometry conventions since there will be only one: Room (no subroom). We still have to discuss the question how to implement or rather connect multiple floors (levels) with each other then.

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 12:09_

---

If you really want the whole drawing to be a single (sub)-room, omit the crossings.

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 12:11_

---

![Unbenannt3](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/ca4222f63f54aa0adc6ebe0c82df2d16/Unbenannt3.PNG)

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 07 Jul 2015, 12:14_

---

However, you are right, we need a documentation. I'm working on it, especially on the video tutorial

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 07 Jul 2015, 12:17_

---

@andresen my problem is not drawing that geometry, but "the trap" that I fall in :-(

A good documentation is good. With the new geometry classes everything should be clearer..

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by kemloh on 07 Jul 2015, 12:35_

---

:100: bounties for the video tutorial

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 08 Jul 2015, 21:37_

---

where is the video?

[2019-07-11 06:31] chraibi commented on #36
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 09 Jul 2015, 06:45_

---

It still needs some editing work. It's likely finished tomorrow

[2019-07-11 06:31] #36 closed

[2019-07-11 06:31] chraibi opened #37 "functionality: splitting vertexes"
In Gitlab by @chraibi on Jul 8, 2015, 12:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/24)]

a function that allows the separation of one vertex into two vertexes would be very helpful to add a door into an existing wall

[2019-07-11 06:31] chraibi commented on #37
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 08 Jul 2015, 10:08_

---

@schroederbenjamin you mean the wall should be splited?

[2019-07-11 06:31] chraibi commented on #37
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by b.schroeder on 08 Jul 2015, 10:35_

---

exactly.

[2019-07-11 06:31] chraibi commented on #37
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 06:31] chraibi commented on #37
In Gitlab by @sainho93 on Nov 28, 2018, 14:00

assigned to @sainho93 and unassigned @Erik-Andresen

[2019-07-11 06:32] chraibi commented on #37
In Gitlab by @sainho93 on Feb 6, 2019, 16:02

removed milestone

[2019-07-11 06:32] chraibi commented on #37
In Gitlab by @sainho93 on Mar 22, 2019, 13:21

removed milestone

[2019-07-11 06:32] chraibi opened #38 "Undo"
In Gitlab by @chraibi on Jul 10, 2015, 11:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/25)]

Would be nice to have an undo functionality.

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by kemloh on 10 Jul 2015, 09:34_

---

that’s by far the most difficult thing to implement :)
and also the most requested feature...

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by chraibi on 10 Jul 2015, 09:35_

---

and Redo functionality too. :sunglasses:
(haha!)

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 19 Jan 2016, 14:09_

---

mentioned in commit c9703fcc4105462443fa184e0b820345aa5c0ab9

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Dec 17, 2016, 08:37

_Original comment by andresen on 01 Feb 2016, 11:21_

---

mentioned in commit 68abac4181be61dd73169d996602a9a7cdb9f6fb

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 26 Oct 2016, 14:22_

---

+1

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @chraibi on Jul 13, 2017, 22:37

@Erik-Andresen done?

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @sainho93 on Aug 15, 2018, 23:29

assigned to @sainho93 and unassigned @Erik-Andresen

[2019-07-11 06:32] chraibi commented on #38
In Gitlab by @sainho93 on Jun 18, 2019, 12:03

removed milestone

[2019-07-11 06:32] chraibi opened #39 "copy geometry elements"
In Gitlab by @chraibi on Jul 10, 2015, 11:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/26)]

Would be nice to be able to copy "blocks" and paste them around.

For example in case we want to duplicate the triangle in the following figure (obstacle)

![Screen_Shot_2015-07-10_at_11.30.40](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-jueli

[2019-07-11 06:32] chraibi commented on #39
In Gitlab by @sainho93 on Feb 20, 2019, 15:38

removed milestone

[2019-07-11 06:32] chraibi commented on #39
In Gitlab by @sainho93 on Feb 20, 2019, 15:38

assigned to @sainho93

[2019-07-11 06:32] chraibi commented on #39
In Gitlab by @sainho93 on Mar 28, 2019, 19:44

removed milestone

[2019-07-11 06:32] chraibi opened #40 "Write ini-files"
In Gitlab by @chraibi on Jul 14, 2015, 14:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/27)]

Produce Ini-Files with the editor.

I like the GUI of CMake. It is very intuitive. We could mimic its design to produce an inifile.
The interface shows which TAGS (ATTRIBUTES) are defined and gives the possibility to set/change these.

![Screen_Shot_2015-07-14_at_13.59.53](ht

[2019-07-11 06:32] chraibi commented on #40
In Gitlab by @chraibi on Dec 22, 2016, 09:06

assigned to @chraibi

[2019-07-11 06:32] chraibi commented on #40
In Gitlab by @chraibi on Dec 22, 2016, 09:06

UP!

[2019-07-11 06:32] chraibi commented on #40
In Gitlab by @chraibi on Dec 22, 2016, 09:10

created branch [`27-write-ini-files`](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/compare/develop...27-write-ini-files)

[2019-07-11 06:32] chraibi commented on #40
In Gitlab by @chraibi on Dec 22, 2016, 09:16

I propose a simple design like this one (borrowed from `CMake`).
What do you think?

![Screen_Shot_2016-12-22_at_09.15.32](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/35e45b1826a098d60245510acc662bd3/Screen_Shot_2016-12-22_at_09.15.32.png)

@Erik-Andresen @rickyspy

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Jul 31, 2018, 19:53

commit: cb6516369f558555818344fec51fe851e447df77

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Jul 31, 2018, 19:54

closed

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Oct 8, 2018, 13:44

reopened

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Oct 8, 2018, 13:45

assigned to @sainho93 and unassigned @chraibi

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Dec 19, 2018, 14:13

Finished: commit 8b3763135a626483290b4c80eed1722ed6d94d78

[2019-07-11 06:33] chraibi commented on #40
In Gitlab by @sainho93 on Jan 7, 2019, 15:55

closed

[2019-07-11 06:33] #40 closed

[2019-07-11 06:33] chraibi opened #41 "Change window title"
In Gitlab by @chraibi on Jul 16, 2015, 03:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/29)]

from
[code]
to

[code]

[2019-07-11 06:33] chraibi commented on #41
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:33] chraibi commented on #41
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 08 Jan 2016, 10:06_

---

Done

[2019-07-11 06:33] #41 closed

[2019-07-11 06:33] chraibi opened #42 "JuPedSim fails to run on a Mid-2012 MB Pro running OSX, when compiled on a Mid-2014 MB Pro"
In Gitlab by @chraibi on Jul 16, 2015, 11:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/30)]

JuPedSim crashes on startup on a Mid-2012 MB Pro running  OSX,  when compiled on a Mid-2014 MB Pro

log:
------------------------------------------------
Process:               JPSeditor [9168]
Path:                  /Volumes/VOLUME/JPSeditor.app/Contents/MacOS/JPSeditor
Iden

[2019-07-11 06:33] chraibi commented on #42
In Gitlab by @chraibi on Jul 13, 2017, 22:35

closed

[2019-07-11 06:33] #42 closed

[2019-07-11 06:33] chraibi opened #43 "import background images"
In Gitlab by @chraibi on Jul 17, 2015, 08:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/31)]

a functionality to import background images with building plans could be very helpful.

[2019-07-11 06:33] chraibi commented on #43
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 06:33] chraibi commented on #43
In Gitlab by @sainho93 on Nov 29, 2018, 11:09

assigned to @sainho93 and unassigned @Erik-Andresen

[2019-07-11 06:33] chraibi commented on #43
In Gitlab by @sainho93 on Feb 20, 2019, 15:38

removed milestone

[2019-07-11 06:33] chraibi commented on #43
In Gitlab by @sainho93 on Apr 9, 2019, 23:04

removed milestone

[2019-07-11 06:34] chraibi commented on #43
In Gitlab by @sainho93 on Jun 14, 2019, 14:22

Finished in commit d8e7155443f3c2af9af7423a130bf985a28fe43e

[2019-07-11 06:34] chraibi commented on #43
In Gitlab by @sainho93 on Jun 14, 2019, 14:23

closed

[2019-07-11 06:34] #43 closed

[2019-07-11 06:34] chraibi opened #44 "multiple layer import dxf"
In Gitlab by @chraibi on Jul 17, 2015, 11:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/32)]

When importing dxfs with multiple layers e.g. for walls and doors, JuPedSim does not separate the vertices accordingly. All vertices are assigned as walls.

Proposal: Defined color attributes for each kind of vertex?

- wall = black
- crossing = blue
- transition = green

[2019-07-11 06:34] chraibi commented on #44
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:34] chraibi commented on #44
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 17 Jul 2015, 09:54_

---

@schroederbenjamin please deliver a working example.

[2019-07-11 06:34] chraibi commented on #44
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by b.schroeder on 17 Jul 2015, 11:23_

---

The attached dxf was generated with librecad and imported with JuPedSim

[example.dxf](https://cst.version.fz-juelich.de/jupedsim/jupedsimhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/65d3ccfdd0997d5f830ae0b801f2f26e/example.dxf)

![cad](https://cst.version.fz-juelich.de/ju

[2019-07-11 06:34] chraibi commented on #44
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 12 Jan 2016, 10:45_

---

Please use "Wall" and "Door" as names for the layers to import your lines correctly from your CAD-Program to JPSeditor. A Transition will be created if you link a door to the outside in the door specifications (as you already know).

[2019-07-11 06:34] #44 closed

[2019-07-11 06:34] chraibi opened #45 "snap the origin"
In Gitlab by @chraibi on Jul 21, 2015, 14:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/33)]

The possibility to snap the point (0,0).

[2019-07-11 06:34] chraibi commented on #45
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:34] #45 closed

[2019-07-11 06:34] chraibi opened #46 "Code does not compile with Qt4"
In Gitlab by @chraibi on Nov 4, 2015, 13:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/34)]

first problem is

[code]

Other problems are related to `QStringRef`

According to the [documentation](http://doc.qt.io/qt-4.8/qstringref.html)
this class has no member names `toInt` or `toFloat`

What should we do now? Stick with qt5 and ignore qt4?
(hard decision)

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 04 Nov 2015, 12:55_

---

mentioned in commit 072c17f7227bde3800daff7b4625ebb8cf4309b1

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 04 Nov 2015, 12:55_

---

second problem solved.

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 08 Jan 2016, 11:03_

---

I changed the function ShowRoomType and omitted the above mentioned line.
However, as I wanted to compile with qt4 I had to use the old MinGW 4.4 as newer compilers are not compatible with the newest qt 4 version, namely 4.8.4.. MinGW 4.4 does not entirely support c++11 functionality. Thus, I'm

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 08 Jan 2016, 18:05_

---

no compromises with `c++11` I woud say.

Do you mean in Windows you can have whether qt4 or C++11-support?

[2019-07-11 06:34] chraibi commented on #46
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 11 Jan 2016, 07:43_

---

I will check if that's really true and there is no workaround.

[2019-07-11 06:58] #46 closed

[2019-07-11 06:58] chraibi opened #47 "Cancel loading XML"
In Gitlab by @chraibi on Jan 7, 2016, 11:30 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/35)]

These following steps lead to a message, which is superficial IMHO.

- File
- Load XML
- Cancel

This gives this error message. I think here no action is required.

![Screen_Shot_2016-01-07_at_11.28.27](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/912f88951e

[2019-07-11 06:58] chraibi commented on #47
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:58] chraibi commented on #47
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 08 Jan 2016, 13:32_

---

Fixed!

[2019-07-11 06:58] #47 closed

[2019-07-11 06:58] chraibi opened #48 "Can not load xml file"
In Gitlab by @chraibi on Feb 11, 2016, 12:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/37)]

See attached

tested with the v0.8 executable for windows

[delme_cao.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/9dff993741e120985f556c7017609ea5/delme_cao.xml)

[2019-07-11 06:58] chraibi commented on #48
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:58] chraibi commented on #48
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 22 Feb 2016, 14:58_

---

Please provide also a(n) (empty) routing.xml file. Like this:[delme_cao_routing.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/cb396d79c86f69609d25d6ab309c113f/delme_cao_routing.xml)

Please note that one wall is identical to an exit here.

[2019-07-11 06:58] chraibi commented on #48
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 15 Mar 2016, 15:04_

---

no additional routing files necessary anymore.

[2019-07-11 06:59] #48 closed

[2019-07-11 06:59] chraibi opened #49 "Branch naming"
In Gitlab by @chraibi on Mar 5, 2016, 07:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/40)]

It is maybe easier to just rename the development branch to `develop`.

Then we you want to release it, you just

1. make a `tag`
2. merge it in `master`
3. and continue working with `develop`

So there is no need to delete the development branch after each release. Therefore,

[2019-07-11 06:59] chraibi commented on #49
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:59] chraibi commented on #49
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 15 Mar 2016, 14:10_

---

done

[2019-07-11 06:59] #49 closed

[2019-07-11 06:59] chraibi opened #50 "mark-rectangle does not vanish in specific situations"
In Gitlab by @chraibi on Mar 29, 2016, 11:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/41)]

![bug1](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/b4ffe3cd1ea5cf8bb6759f7fd5826f54/bug1.JPG)

[2019-07-11 06:59] chraibi commented on #50
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 06:59] chraibi commented on #50
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 03 May 2016, 07:10_

---

mentioned in commit c4143613939c0880782318f2d7af6dde32fcd5b1

[2019-07-11 06:59] #50 closed

[2019-07-11 06:59] chraibi opened #51 "Run jpscore"
In Gitlab by @chraibi on Oct 26, 2016, 16:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/43)]

Add Button to run jpscore.

[2019-07-11 06:59] chraibi commented on #51
In Gitlab by @sainho93 on Jun 14, 2018, 00:30

removed milestone

[2019-07-11 06:59] chraibi commented on #51
In Gitlab by @sainho93 on Jul 30, 2018, 15:05

assigned to @sainho93

[2019-07-11 06:59] chraibi commented on #51
In Gitlab by @sainho93 on Jul 30, 2018, 15:06

commit: 10b281e0531af72099442f1e4e67c502fe7862da

[2019-07-11 06:59] chraibi commented on #51
In Gitlab by @sainho93 on Jul 30, 2018, 15:06

closed

[2019-07-11 06:59] #51 closed

[2019-07-11 06:59] chraibi opened #52 "run jpsvis"
In Gitlab by @chraibi on Oct 26, 2016, 16:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/44)]

add button to run jpsvis

[2019-07-11 06:59] chraibi commented on #52
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 06:59] chraibi commented on #52
In Gitlab by @sainho93 on Aug 1, 2018, 10:46

assigned to @sainho93

[2019-07-11 06:59] chraibi commented on #52
In Gitlab by @sainho93 on Aug 1, 2018, 10:46

removed milestone

[2019-07-11 06:59] chraibi commented on #52
In Gitlab by @sainho93 on Aug 6, 2018, 20:43

commit: 47461ae2441450a38b141655672e6f11e46652b5

[2019-07-11 07:00] chraibi commented on #52
In Gitlab by @sainho93 on Aug 6, 2018, 20:43

closed

[2019-07-11 07:00] #52 closed

[2019-07-11 07:00] chraibi opened #53 "Parse DXF files with layers"
In Gitlab by @chraibi on Oct 27, 2016, 12:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/45)]

With CAD-software e.g. LibreCAD it is possible to organize the geometry in different layers.

See for instance this [introduction](https://cst.version.fz-juelich.de/jupedsim/jpsdxf2jps/raw/master/doc/LibreCAD/HowtoPlotGeometry.pdf) from the archived project [jps2dxf](https://

[2019-07-11 07:00] chraibi commented on #53
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 27 Oct 2016, 10:49_

---

+1

[2019-07-11 07:00] chraibi commented on #53
In Gitlab by @Erik-Andresen on Jun 19, 2017, 18:31

Distinction between walls and doors possible. Use layername "wall" and layername "door".

[2019-07-11 07:00] chraibi commented on #53
In Gitlab by @chraibi on Nov 6, 2017, 13:53

closed

[2019-07-11 07:00] #53 closed

[2019-07-11 07:00] chraibi opened #54 "Dangling Pointer when trying to remove transition"
In Gitlab by @Erik-Andresen on Mar 27, 2017, 10:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/46)]

[2019-07-11 07:00] chraibi commented on #54
In Gitlab by @Erik-Andresen on Aug 21, 2017, 21:27

Done

[2019-07-11 07:00] chraibi commented on #54
In Gitlab by @Erik-Andresen on Aug 21, 2017, 21:27

closed

[2019-07-11 07:00] #54 closed

[2019-07-11 07:00] chraibi opened #55 "DXF-Import not restricted to simple lines & Enhance DXF importing speed"
In Gitlab by @Erik-Andresen on Jun 18, 2017, 15:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/47)]

[2019-07-11 07:00] chraibi commented on #55
In Gitlab by @sainho93 on Mar 6, 2019, 11:18

removed milestone

[2019-07-11 07:00] chraibi opened #56 "Info distance"
In Gitlab by @chraibi on Jun 30, 2017, 12:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/48)]

Measure and show the distance between two lines

![Screen_Shot_2017-06-30_at_12.21.50](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/2c4fc0df0142a4579613481d45e4f603/Screen_Shot_2017-06-30_at_12.21.50.png)

[2019-07-11 07:00] chraibi commented on #56
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 07:00] chraibi commented on #56
In Gitlab by @sainho93 on Aug 15, 2018, 23:29

assigned to @sainho93

[2019-07-11 07:00] chraibi commented on #56
In Gitlab by @sainho93 on Jun 14, 2019, 14:17

mentioned in commit fac69df038e32b58604d8cb471ceedb2ec637a1e

[2019-07-11 07:00] chraibi commented on #56
In Gitlab by @sainho93 on Jun 14, 2019, 14:22

Finished in commit fac69df038e32b58604d8cb471ceedb2ec637a1e

[2019-07-11 07:00] chraibi commented on #56
In Gitlab by @sainho93 on Jun 14, 2019, 14:23

closed

[2019-07-11 07:00] #56 closed

[2019-07-11 07:00] chraibi opened #57 "Stairs"
In Gitlab by @chraibi on Jul 11, 2017, 11:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/49)]

## Steps to reproduce bug

- loading a file with a stair
- Modify the file
- Write the result in a new file

## Result:

- the plane parameter $`A_x`$, $`B_y`$ and $`C_z`$ are deleted in the new file.
- The stair-tags `up` and `down` are also deleted

[2019-07-11 07:01] chraibi commented on #57
In Gitlab by @chraibi on Jul 13, 2017, 19:28

mentioned in commit 95136c17b657ecc9e215657a87211ec20928e7ec

[2019-07-11 07:01] chraibi commented on #57
In Gitlab by @chraibi on Jul 13, 2017, 19:34

[test_stair.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/d62a5b287807b1599ee8824715ccee78/test_stair.xml)

[2019-07-11 07:01] chraibi commented on #57
In Gitlab by @chraibi on Jul 13, 2017, 19:34

closed

[2019-07-11 07:01] chraibi commented on #57
In Gitlab by @Erik-Andresen on Aug 21, 2017, 21:51

mentioned in commit 91ee5c0de71c08b1de7478312532b58fcd2d24bb

[2019-07-11 07:01] #57 closed

[2019-07-11 07:01] chraibi opened #58 "Width of lines changes after Highlighting"
In Gitlab by @chraibi on Jul 15, 2017, 13:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/50)]

After Highlighting walls the width of the lines changes.

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Jun 14, 2018, 00:36

assigned to @sainho93

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 6, 2018, 10:18

@chraibi Do you think this is a bug? But I think this is a good feature. Wider lines will help users to recognize the selected lines.

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 13, 2018, 16:34

removed milestone

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 23, 2018, 11:50

mentioned in commit e332a7f44e4fcd04ef9044ebaf94526b5d6d5e3b

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 23, 2018, 11:52

Fixed. Commit: e332a7f44e4fcd04ef9044ebaf94526b5d6d5e3b

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 23, 2018, 11:52

closed

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Aug 28, 2018, 16:06

reopened

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Sep 3, 2018, 14:56

mentioned in commit 2eec7c1b77d2145222ab35606419996d8244e64d

[2019-07-11 07:01] chraibi commented on #58
In Gitlab by @sainho93 on Sep 18, 2018, 11:08

closed

[2019-07-11 07:01] #58 closed

[2019-07-11 07:01] chraibi opened #59 "3D visibility"
In Gitlab by @chraibi on Jul 15, 2017, 13:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/51)]

It would be nice if JPSeditor can visualize 3D geometries.
For instance like in JPSvis. See this [movie](https://fz-juelich.sciebo.de/index.php/s/p0dhs5MtHmZXzGy)

Maybe having two modis: 2D and 3D is good.

![Screen_Shot_2017-07-15_at_12.53.44](https://gitlab.version.fz-juel

[2019-07-11 07:01] chraibi commented on #59
In Gitlab by @chraibi on Jul 15, 2017, 13:29

changed the description

[2019-07-11 07:01] chraibi commented on #59
In Gitlab by @chraibi on Jul 15, 2017, 15:13

changed the description

[2019-07-11 07:01] chraibi commented on #59
In Gitlab by @chraibi on Jul 15, 2017, 15:13

changed the description

[2019-07-11 07:02] chraibi commented on #59
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 07:02] chraibi commented on #59
In Gitlab by @sainho93 on Aug 15, 2018, 23:29

assigned to @sainho93

[2019-07-11 07:02] chraibi commented on #59
In Gitlab by @sainho93 on Aug 28, 2018, 15:12

closed

[2019-07-11 07:02] #59 closed

[2019-07-11 07:02] chraibi opened #60 "Drawing"
In Gitlab by @chraibi on Jul 15, 2017, 20:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/52)]

While drawing (for example a line), two clicks are needed to continue from one point to the next.
Not so nice.

[2019-07-11 07:02] chraibi commented on #60
In Gitlab by @sainho93 on Jun 14, 2018, 00:30

removed milestone

[2019-07-11 07:02] chraibi commented on #60
In Gitlab by @sainho93 on Mar 22, 2019, 13:23

assigned to @sainho93

[2019-07-11 07:02] chraibi commented on #60
In Gitlab by @sainho93 on Apr 9, 2019, 23:02

removed milestone

[2019-07-11 07:02] chraibi opened #61 "Length of line"
In Gitlab by @chraibi on Jul 26, 2017, 15:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/53)]

Check input of "Length of line"
Erroneous input leads to bad behavior.

For example "5,0" instead of "5.0" leads to

![Screen_Shot_2017-07-26_at_15.18.36](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/d4540797effe9f89f27a603800fba10f/Screen_Shot_2017-07-26_a

[2019-07-11 07:02] chraibi commented on #61
In Gitlab by @chraibi on Jul 26, 2017, 20:09

mentioned in commit 62a5d5986a2d10ba640918c07eed8cccf85f7962

[2019-07-11 07:02] chraibi commented on #61
In Gitlab by @chraibi on Jul 26, 2017, 20:09

closed

[2019-07-11 07:02] #61 closed

[2019-07-11 07:02] chraibi opened #62 "Cleanup button"
In Gitlab by @chraibi on Sep 4, 2017, 16:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/54)]

Add the possibility to delete all assigned rooms and doors.
Could be useful, in case an auto assign did not work properly.

[2019-07-11 07:02] chraibi commented on #62
In Gitlab by @sainho93 on Jun 14, 2018, 00:29

removed milestone

[2019-07-11 07:02] chraibi commented on #62
In Gitlab by @sainho93 on Aug 27, 2018, 10:54

assigned to @sainho93

[2019-07-11 07:02] chraibi commented on #62
In Gitlab by @sainho93 on Sep 18, 2018, 15:34

mentioned in commit aa29ee97d450d74f83a11ebcd5c6397736b6501d

[2019-07-11 07:02] chraibi commented on #62
In Gitlab by @sainho93 on Sep 18, 2018, 17:13

closed

[2019-07-11 07:03] chraibi commented on #62
In Gitlab by @sainho93 on Sep 18, 2018, 17:14

finished in commit:15407eae2cbce550c09084ca3829ed6b1fb39ff0

[2019-07-11 07:03] #62 closed

[2019-07-11 07:03] chraibi opened #63 "Error in parsing geometry file"
In Gitlab by @chraibi on Jan 22, 2018, 16:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/55)]

When reading the folloging [file](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/8c7ec4b8f9579c9a8d71c54e987c1f34/geometry.xml)

`jpseditor` seems to read some attributes of the doors wrong.

For example compare this door

![Screen_Shot_2018-01-22_at_16.18.38

[2019-07-11 07:03] chraibi commented on #63
In Gitlab by @chraibi on Jan 22, 2018, 20:04

[code]

assumes that a transition is between a room  and outside.
Like if we only have one big giant room with lot of subrooms.

@Erik-Andresen  Why is this so?

[2019-07-11 07:03] chraibi commented on #63
In Gitlab by @chraibi on Jan 23, 2018, 13:32

mentioned in commit 23ba3cadf1f979aa8c1c3c994b28f1b3e22f0ecf

[2019-07-11 07:03] chraibi commented on #63
In Gitlab by @chraibi on May 16, 2018, 19:44

closed via commit 23ba3cadf1f979aa8c1c3c994b28f1b3e22f0ecf

[2019-07-11 07:03] #63 closed

[2019-07-11 07:03] chraibi opened #64 "Save as FDS"
In Gitlab by @sainho93 on Mar 21, 2018, 15:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/56)]

This is the first phase of XML2FDS project.

Feature description:

* After drawing in JPSeditor, user can click `File` - `Save as FDS` (under `Save as DXF`), and the `.fds` file should can be used in [FDS6](https://pages.nist.gov/fds-smv/) with default settings for a basic t

[2019-07-11 07:03] chraibi commented on #64
In Gitlab by @sainho93 on Mar 21, 2018, 15:14

changed the description

[2019-07-11 07:03] chraibi commented on #64
In Gitlab by @sainho93 on Mar 21, 2018, 15:45

changed the description

[2019-07-11 07:04] #64 closed

[2019-07-11 07:04] chraibi opened #65 "XML Convertor"
In Gitlab by @sainho93 on Mar 21, 2018, 15:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/57)]

This is the second phase of XML2FDS project.

Feature description:

1. User clicks a convertor icon on toolbar, JPSeditor pops up a window
2. User chooses a `.XML` file to load
3. User chooses a FDS testing type
4. click `Convert to FDS`.

[2019-07-11 07:04] chraibi commented on #65
In Gitlab by @sainho93 on Mar 21, 2018, 15:54

assigned to @sainho93

[2019-07-11 07:04] chraibi commented on #65
In Gitlab by @sainho93 on May 16, 2018, 01:17

closed

[2019-07-11 07:04] chraibi commented on #65
In Gitlab by @gjaeger on May 16, 2018, 11:10

@sainho93 see issue #56: Does it work?

[2019-07-11 07:04] #65 closed

[2019-07-11 07:04] chraibi opened #66 "XML Converter with custom Setting"
In Gitlab by @sainho93 on Mar 21, 2018, 15:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/58)]

This is the third phase of XML2FDS project.

Feature description:

1. User clicks a convertor icon on toolbar, JPSeditor pops up a window
2. User chooses a `.XML` file to load
3. User changes the elements and values for FDS testing as they need
4. click `Convert to FDS`.

[2019-07-11 07:04] chraibi commented on #66
In Gitlab by @sainho93 on Mar 21, 2018, 15:54

assigned to @sainho93

[2019-07-11 07:04] chraibi commented on #66
In Gitlab by @sainho93 on Jul 17, 2018, 11:52

closed

[2019-07-11 07:04] #66 closed

[2019-07-11 07:05] chraibi opened #67 "Move nodes by mouse click"
In Gitlab by @chraibi on Apr 16, 2018, 15:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/59)]

[2019-07-11 07:05] chraibi opened #68 "README.md | dead link and section"
In Gitlab by @gjaeger on Apr 18, 2018, 09:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/60)]

Installing
==========

This version comes with an installer for Windows. So just download it, start it and follow the instructions. The installer is only available for windows at the moment. For other architectures (Linux, OSX) you will need to compile the sources. See the se

[2019-07-11 07:05] chraibi commented on #68
In Gitlab by @gjaeger on Apr 18, 2018, 10:15

for the new section *Compiling from sources* (compare [requirements](http://www.jupedsim.org/2016-11-03-requirements.html)):

It may be necessary to find `qmake` as follows

`find /opt -name qmake`

and export the path to `~/.bashrc`, `~/.zshrc` or `~/.bash_profile`.

[2019-07-11 07:05] chraibi commented on #68
In Gitlab by @chraibi on Apr 18, 2018, 10:44

closed via commit 81176c3fb5b5e181dd1c8457b224ed6a8a6cb906

[2019-07-11 07:05] chraibi commented on #68
In Gitlab by @chraibi on Apr 18, 2018, 10:45

Updated [requirements](http://www.jupedsim.org/2016-11-03-requirements.html) with your text. :+1:

[2019-07-11 07:05] chraibi commented on #68
In Gitlab by @chraibi on May 16, 2018, 19:37

mentioned in commit 81176c3fb5b5e181dd1c8457b224ed6a8a6cb906

[2019-07-11 07:05] #68 closed

[2019-07-11 07:05] chraibi opened #69 "Define endpoint by typing"
In Gitlab by @sainho93 on May 16, 2018, 16:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/61)]

User can type the x and y of endpoint on statusbar to define endpoint, rather than set the length of the line.

[2019-07-11 07:05] chraibi commented on #69
In Gitlab by @sainho93 on May 16, 2018, 17:00

closed

[2019-07-11 07:05] chraibi commented on #69
In Gitlab by @sainho93 on Jun 3, 2018, 10:55

reopened

[2019-07-11 07:05] chraibi commented on #69
In Gitlab by @sainho93 on Jun 3, 2018, 10:55

closed

[2019-07-11 07:05] #69 closed

[2019-07-11 07:05] chraibi opened #70 "Panning mode for view geometry"
In Gitlab by @sainho93 on May 16, 2018, 18:29 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/62)]

When Panning mode is on, user can pan the view of drawing district.

[2019-07-11 07:05] chraibi commented on #70
In Gitlab by @sainho93 on May 30, 2018, 13:53

closed

[2019-07-11 07:05] chraibi commented on #70
In Gitlab by @sainho93 on May 30, 2018, 16:08

mentioned in merge request !10

[2019-07-11 07:05] chraibi commented on #70
In Gitlab by @sainho93 on May 31, 2018, 00:01

mentioned in merge request !11

[2019-07-11 07:05] chraibi commented on #70
In Gitlab by @sainho93 on Jun 3, 2018, 10:55

reopened

[2019-07-11 07:05] chraibi commented on #70
In Gitlab by @sainho93 on Jun 3, 2018, 10:55

closed

[2019-07-11 07:05] #70 closed

[2019-07-11 07:05] chraibi opened #71 "Define startpoint by typing"
In Gitlab by @sainho93 on May 17, 2018, 10:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/63)]

User can type the x and y of startpoint on statusbar to define startpoint

[2019-07-11 07:05] chraibi commented on #71
In Gitlab by @sainho93 on May 21, 2018, 00:28

closed

[2019-07-11 07:06] chraibi commented on #71
In Gitlab by @sainho93 on Jun 3, 2018, 10:56

reopened

[2019-07-11 07:06] chraibi commented on #71
In Gitlab by @sainho93 on Jun 3, 2018, 10:56

closed

[2019-07-11 07:06] #71 closed

[2019-07-11 07:06] chraibi opened #72 "The new view options"
In Gitlab by @sainho93 on May 30, 2018, 14:04 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/64)]

In order to be more user friendly and better Controlling by drawing, some new view options should be added in JPSeditor:

* [x]  Zoom Extents: show all contents of geometry
* [x]  Zoom Windows: show contents that user selected
* [x]  Back to Origin: set the origin as center

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on May 30, 2018, 14:04

assigned to @sainho93

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on May 30, 2018, 14:12

changed the description

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on May 30, 2018, 14:12

changed the description

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jun 3, 2018, 17:38

marked the task **Back to Origin: set the origin as center of view** as completed

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jun 4, 2018, 11:30

marked the task **Zoom Extents: show all contents of geometry** as completed

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jun 6, 2018, 16:13

marked the task **Zoom Windows: show contents that user selected** as completed

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jun 13, 2018, 19:44

closed

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Dec 18, 2018, 14:51

reopened

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jan 7, 2019, 17:49

Finished: 8300021430ffad3f5095a8f7421e75a9627738e9

[2019-07-11 07:06] chraibi commented on #72
In Gitlab by @sainho93 on Jan 7, 2019, 17:49

closed

[2019-07-11 07:06] #72 closed

[2019-07-11 07:06] chraibi opened #73 "Add Naming conventions and commits"
In Gitlab by @sainho93 on Jun 3, 2018, 18:25 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/65)]

Naming Style should be established:

* Classes
* Variables
* Functions

[2019-07-11 07:06] chraibi commented on #73
In Gitlab by @sainho93 on Aug 27, 2018, 10:51

changed title from **Add Naming conventions** to **Add Naming conventions{+ and commits+}**

[2019-07-11 07:06] chraibi commented on #73
In Gitlab by @sainho93 on Aug 27, 2018, 10:55

removed milestone

[2019-07-11 07:06] chraibi commented on #73
In Gitlab by @sainho93 on Oct 5, 2018, 15:25

removed milestone

[2019-07-11 07:06] chraibi commented on #73
In Gitlab by @sainho93 on Oct 19, 2018, 13:41

closed

[2019-07-11 07:07] #73 closed

[2019-07-11 07:07] chraibi opened #74 "Decoupling functions in Graphicsview.cpp"
In Gitlab by @sainho93 on Jun 4, 2018, 11:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/66)]

* Description: Functions in Graphicsview.cpp are coupled und variables like `statWall`, `statDoor` everywhere to change the editing mode, that make adding a new function or or new mode complicated und must be careful.

* Goal: Decouple the functions and design a new way to ch

[2019-07-11 07:07] chraibi commented on #74
In Gitlab by @sainho93 on Aug 15, 2018, 21:24

closed

[2019-07-11 07:07] #74 closed

[2019-07-11 07:07] chraibi opened #75 "Zoom Extents"
In Gitlab by @chraibi on Aug 15, 2018, 12:41 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/74)]

Before drawing anything, clicking​ on `Zoom Extents` leads to SegFault.

[2019-07-11 07:07] chraibi commented on #75
In Gitlab by @sainho93 on Aug 22, 2018, 10:11

closed

[2019-07-11 07:07] #75 closed

[2019-07-11 07:07] chraibi opened #76 "Permanent Settings"
In Gitlab by @chraibi on Aug 15, 2018, 12:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/75)]

Try to write the settings in a file.

Maybe in the same location as the executable.

In this way, the settings will remain persistent throughout several uses of `jpseditor`

[2019-07-11 07:07] chraibi commented on #76
In Gitlab by @sainho93 on Aug 22, 2018, 10:11

closed

[2019-07-11 07:07] chraibi commented on #76
In Gitlab by @sainho93 on Aug 22, 2018, 22:01

reopened

[2019-07-11 07:07] chraibi commented on #76
In Gitlab by @sainho93 on Nov 29, 2018, 11:10

closed

[2019-07-11 07:07] #76 closed

[2019-07-11 07:07] chraibi opened #77 "JPSvis file"
In Gitlab by @chraibi on Aug 15, 2018, 12:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/76)]

After `run`ing a simulation, the field for the jpsvis file is filled with the correct name.

However, this name is relative. Should include the absolute path.

[2019-07-11 07:07] chraibi commented on #77
In Gitlab by @sainho93 on Aug 22, 2018, 10:11

closed

[2019-07-11 07:07] #77 closed

[2019-07-11 07:07] chraibi opened #78 "Edit FDS parameter"
In Gitlab by @chraibi on Aug 15, 2018, 12:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/77)]

When loading an FDS file, it would be better to fill the value box of the parameters.

See screenshot.

![Screen_Shot_2018-08-15_at_17.35.08](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/e4e5e432dff4921045eb5a3f249afc93/Screen_Shot_2018-08-15_at_17.35.08.pn

[2019-07-11 07:07] chraibi commented on #78
In Gitlab by @gjaeger on Aug 15, 2018, 13:11

What is the goal of the parameter input?

[2019-07-11 07:07] chraibi commented on #78
In Gitlab by @chraibi on Aug 16, 2018, 07:30

The parameter value you mean?

This screenshot is taken after loading an fds-file.
I think it would be nicer to have the initial values, when trying to edit them.

What do you think?

[2019-07-11 07:07] chraibi commented on #78
In Gitlab by @gjaeger on Aug 16, 2018, 07:36

Why do you read all keywords from all namelists?

For the geometry you only need to read the keywords from the namelists *OBST*, *HOLE* and *MULT*.

[2019-07-11 07:07] chraibi commented on #78
In Gitlab by @chraibi on Aug 16, 2018, 08:51

This is not supposed to be only a geometry editor, but also an fds-editor. :sweat\_smile:

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @gjaeger on Aug 16, 2018, 08:59

:thinking_face: You become megalomaniac. :wink:

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @sainho93 on Aug 22, 2018, 10:11

closed

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @gjaeger on Aug 22, 2018, 21:43

@sainho93: Why do you close this issue?

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @sainho93 on Aug 22, 2018, 22:01

reopened

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @sainho93 on Aug 22, 2018, 22:05

@gjaeger sorry, it´s a misopreation.

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @sainho93 on Nov 29, 2018, 11:10

closed

[2019-07-11 07:08] chraibi commented on #78
In Gitlab by @gjaeger on Nov 29, 2018, 15:16

Does it work now?

[2019-07-11 07:08] #78 closed

[2019-07-11 07:08] chraibi opened #79 "Can not Draw point on the origin"
In Gitlab by @chraibi on Aug 15, 2018, 12:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/78)]

Trying to draw lines from or to the origin fails.

See video.

![zeroPoints](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/a02a6bb05addc867c933388dfdb395a0/zeroPoints.mov)

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Aug 22, 2018, 10:10

assigned to @sainho93

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Aug 23, 2018, 12:06

mentioned in commit f51a66180521deb226606b93b380d85e777600e6

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Aug 23, 2018, 12:11

Fixed. Commit:f51a66180521deb226606b93b380d85e777600e6

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Aug 23, 2018, 12:11

closed

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Aug 28, 2018, 16:06

reopened

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Sep 3, 2018, 14:56

mentioned in commit 614e67ac202d7977245d98d65a0e4ae1bc94acff

[2019-07-11 07:08] chraibi commented on #79
In Gitlab by @sainho93 on Sep 18, 2018, 11:06

closed

[2019-07-11 07:08] #79 closed

[2019-07-11 07:08] chraibi opened #80 "Define subroom"
In Gitlab by @sainho93 on Aug 27, 2018, 11:35 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/81)]

* Version: 0.83

* What is the current behavior?

define all rooms as rooms, can't define a room as a subroom.

* What is the expected correct behavior?

differentiate subroom and room in "define room" window

[2019-07-11 07:08] chraibi commented on #80
In Gitlab by @sainho93 on Aug 27, 2018, 11:37

changed the description

[2019-07-11 07:08] chraibi commented on #80
In Gitlab by @sainho93 on Aug 27, 2018, 11:37

assigned to @sainho93

[2019-07-11 07:08] chraibi opened #81 "room captions overlapped"
In Gitlab by @sainho93 on Aug 27, 2018, 12:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/82)]

* Version: 0.83

* Summary

Captions are overlapped in one place

* What is the expected correct behavior?

Captions are located in the mid of room

* Relevant logs and/or screenshots

![image](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/42bb398aebc6874e3

[2019-07-11 07:09] chraibi commented on #81
In Gitlab by @sainho93 on Sep 3, 2018, 16:32

mentioned in commit a606fac49774c54a68db32ab0a9ccd7b6a364600

[2019-07-11 07:09] chraibi commented on #81
In Gitlab by @sainho93 on Sep 3, 2018, 16:41

Fixed in commit: a606fac49774c54a68db32ab0a9ccd7b6a364600

[2019-07-11 07:09] chraibi commented on #81
In Gitlab by @sainho93 on Sep 3, 2018, 16:41

closed

[2019-07-11 07:09] #81 closed

[2019-07-11 07:09] chraibi opened #82 "Easier way to define stairs"
In Gitlab by @sainho93 on Aug 27, 2018, 12:25 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/83)]

* Version: 0.83

[2019-07-11 07:09] chraibi commented on #82
In Gitlab by @sainho93 on Mar 28, 2019, 19:42

closed

[2019-07-11 07:09] chraibi commented on #82
In Gitlab by @chraibi on Mar 28, 2019, 19:44

is it now easier?

[2019-07-11 07:09] chraibi commented on #82
In Gitlab by @sainho93 on Mar 28, 2019, 19:49

It is implemented in #109.

[2019-07-11 07:09] #82 closed

[2019-07-11 07:09] chraibi opened #83 "problem with the visualization"
In Gitlab by @gjaeger on Aug 28, 2018, 09:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/84)]

Incorrect rendering of a geo-file ([geo_UNI_CORR_500_08.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/caa540771b7d0ce81c91107b3a573446/geo_UNI_CORR_500_08.xml)) in jpseditor 0.8.1 (branch: develop, commit 89d218812722eecc2721b5e060afe00a769a2312)

![JPS

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @sainho93 on Sep 3, 2018, 23:14

assigned to @sainho93

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @gjaeger on Sep 10, 2018, 13:58

Another incorrect rendering of a geo-file ([1.0_bottleneck.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/b7c7f44c854d4caa70c4e6c36c6701c0/1.0_bottleneck.xml)) in jpseditor 0.8.4 (branch: develop, commit 6bf21384edf60eb868e39f09dc77bcc97568684a)

![jpseditor](/uploads/470b64b99cdda6346de42d04eeba7838/jpseditor.png)

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @sainho93 on Sep 18, 2018, 11:00

@gjaeger would you show me the correct geometry images of the two files? I tried them im v0.8.3 and they are also wrong rendering, so I'm not sure if the files are problematic oder there are bugs in JPSeditor. Thanks!

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @gjaeger on Sep 18, 2018, 11:07

@sainho93 correct geometry for [geo_UNI_CORR_500_08.xml](/jupedsim/jpseditorhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/caa540771b7d0ce81c91107b3a573446/geo_UNI_CORR_500_08.xml) with jpsvis 0.8.2 (QT 4.8, VTK 5.10):

![geo_UNI_CORR_500_08_travisto_snap_180918_11h_0](/uploads/e9eb60a6999993a95757184f6304c607/geo_UNI_CORR_500_08_travi

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @gjaeger on Sep 18, 2018, 11:09

and for [1.0_bottleneck.xml](https://gitlab.version.fz-juelich.de/jupedsim/jpseditorhttps://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/b7c7f44c854d4caa70c4e6c36c6701c0/1.0_bottleneck.xml):

![1_travisto_snap_180918_11h_0](/uploads/81a03befe3b848f02806bd4c6e7e6381/1_travisto_snap_180918_11h_0.png)

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @sainho93 on Sep 18, 2018, 16:47

@gjaeger Thanks! I will move on.

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @gjaeger on Sep 19, 2018, 11:33

@sainho93 After our meeting, I made the following changes in the [geo_UNI_CORR_500_08_test.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/c776605e6b2c5df3020e5024116bb970/geo_UNI_CORR_500_08_test.xml):

[code]

instead of

[code]

It looks better now:
![jpseditor](/uploads/5129d8ce73d8d5ed07127e8c06c57931/jpseditor.png)

We should

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @sainho93 on Sep 28, 2018, 11:14

@gjaeger polygon in rooms also should be wrote as two vertex. like:

[code]

and I edited the geometry [geo_UNI_CORR_500_08_test.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/24e408295d2961f133e0f745cc3ef788/geo_UNI_CORR_500_08_test.xml)

It looks good now:

![image](/uploads/b9f6dc89199028a77eebc215df9acdd0/image.png)

I will a

[2019-07-11 07:09] chraibi commented on #83
In Gitlab by @sainho93 on Sep 28, 2018, 11:14

closed

[2019-07-11 07:09] #83 closed

[2019-07-11 07:10] chraibi opened #84 "Update JPSeditor official website"
In Gitlab by @sainho93 on Aug 28, 2018, 15:36 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/86)]

Add following:

* [x]  Roadmaps of stable and dev version
* [x]  Quickstart
* [x]  User guide
* [x]  Download

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Aug 28, 2018, 15:38

assigned to @sainho93

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Aug 28, 2018, 15:39

changed the description

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Aug 28, 2018, 16:11

changed the description

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Sep 3, 2018, 11:05

marked the task **Roadmaps of stable and dev version** as completed

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Sep 3, 2018, 11:06

changed the description

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 1, 2018, 16:42

changed the description

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 1, 2018, 22:42

marked the task **Quickstart** as completed

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 1, 2018, 23:34

marked the task **User guide** as completed

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 1, 2018, 23:34

marked the task **Download** as completed

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @chraibi on Oct 3, 2018, 11:38

Please add a link to this documentation, so that we can have a look.

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 3, 2018, 15:35

@chraibi which documentation do you mean?

[2019-07-11 07:10] chraibi commented on #84
In Gitlab by @sainho93 on Oct 5, 2018, 15:24

closed

[2019-07-11 07:10] #84 closed

[2019-07-11 07:10] chraibi opened #85 "Optimize installer package"
In Gitlab by @sainho93 on Sep 30, 2018, 18:33 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/87)]

* For windows: cpack
* For Linux: create a AppImage
* For macOS: DMG with Application shortcut

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @sainho93 on Oct 2, 2018, 14:15

changed title from **{-Create AppImage for Linux & optimize dmg-} package** to **{+Optimize insteller+} package**

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @sainho93 on Oct 2, 2018, 14:15

changed the description

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @chraibi on Oct 3, 2018, 11:37

Tao why not use CPack for all?

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @chraibi on Oct 3, 2018, 11:37

changed title from **Optimize inst{-e-}ller package** to **Optimize inst{+a+}ller package**

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @sainho93 on Oct 3, 2018, 15:34

@chraibi I will try cpack for next version. Thanks for advice!

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @chraibi on Oct 4, 2018, 18:22

@sainho93 please document every step you take in the [developer repository](https://gitlab.version.fz-juelich.de/jupedsim/developers/wikis/home).

Other team members should be able to produce the same binaries ... *automatically*.

[2019-07-11 07:10] chraibi commented on #85
In Gitlab by @sainho93 on Oct 5, 2018, 15:20

@chraibi Klar! I will do that.

[2019-07-11 07:11] chraibi commented on #85
In Gitlab by @sainho93 on Oct 8, 2018, 13:43

assigned to @sainho93

[2019-07-11 07:11] chraibi commented on #85
In Gitlab by @sainho93 on Oct 17, 2018, 15:58

closed

[2019-07-11 07:11] #85 closed

[2019-07-11 07:11] chraibi opened #86 "Transitions"
In Gitlab by @gjaeger on Oct 2, 2018, 14:10 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/89)]

How should the transitions be defined in the geometry file? In the room/subroom component or in a separate environment (`<transitions> </transitions>`)?

That does not work ([geo_UNI_CORR_500_08_C.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/498b69ade50

[2019-07-11 07:11] chraibi commented on #86
In Gitlab by @chraibi on Oct 2, 2018, 14:44

A basic structure is defined in the [documentation](http://www.jupedsim.org/jpscore/2016-11-02-geometry).

`transitions` are not part of `subrooms`, therefore your first example cannot work, but only the second.

In the first example, replacing `transitions` with `crossings` would correspond to the geometry structure.
(however you have only one `subroom

[2019-07-11 07:11] chraibi commented on #86
In Gitlab by @gjaeger on Oct 2, 2018, 15:15

You mean this diagram in the [documentation](http://www.jupedsim.org/jpscore/2016-11-02-geometry)?

![class-diagram](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/5c6ddc41aa18e26fd182e126302b702f/class-diagram.png)

Where is `<transitions> </transitions>` defined in the documentation?

The link to the tag [#traffic-constraints](http://

[2019-07-11 07:11] chraibi commented on #86
In Gitlab by @gjaeger on Oct 2, 2018, 15:28

I mean an example like:

[code]

[2019-07-11 07:11] chraibi commented on #86
In Gitlab by @chraibi on Oct 2, 2018, 20:26

No, an example like that is not necessary and is only redundant. The picture explaines the structure of the file clearly enough.

Transitions do no belong to subrooms. See in the picture.

 Parameters to transitions are here:
http://www.jupedsim.org/jpscore/2016-11-02-geometry#transitions

[2019-07-11 07:11] chraibi commented on #86
In Gitlab by @gjaeger on Oct 2, 2018, 21:41

closed

[2019-07-11 07:11] #86 closed

[2019-07-11 07:11] chraibi opened #87 "3D-support"
In Gitlab by @anna-braun on Oct 2, 2018, 16:52 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/90)]

Easier way to create 3D geometries, maybe by creating different layers, e.g. one layer for each storey. Stairs could be defined in the upper or lower layer.
Possibility to import 2D-CAD-plans for each storey into the corresponding layer.

[2019-07-11 07:11] chraibi commented on #87
In Gitlab by @sainho93 on Dec 18, 2018, 12:40

assigned to @sainho93

[2019-07-11 07:11] chraibi commented on #87
In Gitlab by @sainho93 on Jan 7, 2019, 15:55

removed milestone

[2019-07-11 07:11] chraibi commented on #87
In Gitlab by @sainho93 on Jan 23, 2019, 14:52

closed

[2019-07-11 07:11] chraibi commented on #87
In Gitlab by @sainho93 on Jan 23, 2019, 14:53

Finished: commit 91e689aec08973eb9fdde1d07f6f8110523aba79

[2019-07-11 07:11] #87 closed

[2019-07-11 07:11] chraibi opened #88 "SegFault: Delete all Rooms"
In Gitlab by @chraibi on Oct 4, 2018, 15:25 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/91)]

"Delete all Rooms" leads to SegFault, if there are no rooms.

Apparently, here there is a missing check.

See video

![delete](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/847fc5c8d197ded22dd56b6f6339c117/delete.mov)

[2019-07-11 07:11] chraibi commented on #88
In Gitlab by @sainho93 on Oct 5, 2018, 15:23

@chraibi I will check that.

[2019-07-11 07:11] chraibi commented on #88
In Gitlab by @sainho93 on Oct 5, 2018, 15:23

removed milestone

[2019-07-11 07:11] chraibi commented on #88
In Gitlab by @sainho93 on Oct 8, 2018, 13:44

assigned to @sainho93

[2019-07-11 07:11] chraibi commented on #88
In Gitlab by @sainho93 on Oct 19, 2018, 14:31

mentioned in commit d4fbd6235fb8f37ba4528be9fac7ce91a07f089b

[2019-07-11 07:12] chraibi commented on #88
In Gitlab by @sainho93 on Oct 19, 2018, 14:33

closed

[2019-07-11 07:12] chraibi commented on #88
In Gitlab by @sainho93 on Oct 19, 2018, 14:33

Fixed: d4fbd6235fb8f37ba4528be9fac7ce91a07f089b

[2019-07-11 07:12] #88 closed

[2019-07-11 07:12] chraibi opened #89 "Select mode"
In Gitlab by @chraibi on Oct 4, 2018, 15:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/92)]

Shortcut for "select mode" is missing.

[2019-07-11 07:12] chraibi commented on #89
In Gitlab by @sainho93 on Oct 5, 2018, 15:24

@chraibi which OS please?

[2019-07-11 07:12] chraibi commented on #89
In Gitlab by @sainho93 on Oct 5, 2018, 15:24

removed milestone

[2019-07-11 07:12] chraibi commented on #89
In Gitlab by @sainho93 on Oct 8, 2018, 13:44

assigned to @sainho93

[2019-07-11 07:12] chraibi commented on #89
In Gitlab by @sainho93 on Oct 19, 2018, 14:39

mentioned in commit a195fe4d7612cfbb1a6075102d581d635f784342

[2019-07-11 07:12] chraibi commented on #89
In Gitlab by @sainho93 on Oct 19, 2018, 14:39

closed

[2019-07-11 07:12] #89 closed

[2019-07-11 07:12] chraibi opened #90 "Define building path in .pro"
In Gitlab by @sainho93 on Oct 17, 2018, 15:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/96)]

- Script for deployment on Windows and macOS

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 17, 2018, 15:56

assigned to @sainho93

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 18, 2018, 12:43

For macOS: 48dfc1a54b91b19e70e1b3d72761133071811737

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 24, 2018, 17:50

removed milestone

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 24, 2018, 17:54

changed the description

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 24, 2018, 18:01

changed title from **{-Script for deployment on Windows and macOS-}** to **{+Define building path in .pro+}**

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Oct 24, 2018, 18:01

changed the description

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Nov 5, 2018, 12:55

Finished. commit:0843b887c674fcc9e17fb841e744d4fc2c10e259

[2019-07-11 07:12] chraibi commented on #90
In Gitlab by @sainho93 on Nov 5, 2018, 13:26

closed

[2019-07-11 07:12] #90 closed

[2019-07-11 07:12] chraibi opened #91 "Backup with lines"
In Gitlab by @anna-braun on Oct 31, 2018, 15:32 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/101)]

If you draw a geometry but don't have saved any room, the backup file does not save anything. If the program crashes, everything will be lost.
It could be very useful, if the backup will also save lines (walls or doors), which are not (yet) used for building a room.

Mayb

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @anna-braun on Oct 31, 2018, 15:33

changed the description

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @anna-braun on Oct 31, 2018, 15:33

changed the description

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @chraibi on Oct 31, 2018, 15:37

Had this problems very often in the last 3 days

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @sainho93 on Jan 24, 2019, 12:28

assigned to @sainho93

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @sainho93 on Jan 25, 2019, 14:25

Finished commit:a7d5c10dad895af64e4202053dca1ebc604a6b1a

[2019-07-11 07:13] chraibi commented on #91
In Gitlab by @sainho93 on Jan 25, 2019, 14:25

closed

[2019-07-11 07:13] #91 closed

[2019-07-11 07:13] chraibi opened #92 "Line snap"
In Gitlab by @anna-braun on Oct 31, 2018, 16:00 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/102)]

A tool like "object snap", but for snapping any point on a line (wall), to be more flexible in drawing.

For example, you have a room like this:
[code]
and you like to do something like this:
[code]
To draw line B, it would be useful to snap line A at the point, where lin

[2019-07-11 07:13] chraibi commented on #92
In Gitlab by @sainho93 on Feb 6, 2019, 16:03

finished: c8febf81b88f5153e0b54480c938f3cde8ab6c11

[2019-07-11 07:13] chraibi commented on #92
In Gitlab by @sainho93 on Feb 6, 2019, 16:03

closed

[2019-07-11 07:13] #92 closed

[2019-07-11 07:13] chraibi opened #93 "Doors on walls"
In Gitlab by @anna-braun on Oct 31, 2018, 16:16 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/103)]

To be more flexible in drawing it would be useful to draw the doors on the walls (or a little bit next to it x,y <= 5cm). So, if you have forgotten some doors, you don't have to delete the walls and draw it again with space for the doors.
See the example:
![test7-geometry

[2019-07-11 07:13] chraibi commented on #93
In Gitlab by @anna-braun on Oct 31, 2018, 16:16

changed the description

[2019-07-11 07:13] chraibi opened #94 "Delete walls by using "Del""
In Gitlab by @anna-braun on Oct 31, 2018, 16:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/104)]

If you want to delete single or multiple walls, you select them and use the tool "delete selected lines".
In previous versions of the editor you could also delete the selected walls by pressing "Del" on the keyboard. It would be nice to have such a function again. Maybe "

[2019-07-11 07:13] chraibi commented on #94
In Gitlab by @sainho93 on Dec 10, 2018, 15:32

Merge in #110

[2019-07-11 07:13] chraibi commented on #94
In Gitlab by @sainho93 on Dec 10, 2018, 15:32

closed

[2019-07-11 07:13] #94 closed

[2019-07-11 07:13] chraibi opened #95 "Draw lines by coordinates"
In Gitlab by @anna-braun on Nov 7, 2018, 13:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/106)]

I tried to draw walls by typing "x" and "y", this are the results:

![1](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/9ff5d236d9a172ef0717f865198768ff/1.png)

![2](/uploads/24db1fc87d4d8d639619c736382ecee9/2.png)

![3](/uploads/b1d4242c2d08fcfd5da7e46fed

[2019-07-11 07:13] chraibi opened #96 "Import ifc-files"
In Gitlab by @anna-braun on Nov 15, 2018, 10:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/107)]

BIM (Building Information Modeling) is becoming more and more important in the construction industry, so besides DXF-files, we should also be able to import ifc-files.

[2019-07-11 07:13] chraibi commented on #96
In Gitlab by @sainho93 on Dec 10, 2018, 15:31

@anna-braun Could we schedule an appointment for this issue in this week? I'm in uni everyday.😊

[2019-07-11 07:14] chraibi commented on #96
In Gitlab by @schroedtert on Dec 11, 2018, 08:19

You might want to take a look at http://www.ifcquery.com/ it already offers a reader and a viewer application for ifc files.

[2019-07-11 07:14] chraibi commented on #96
In Gitlab by @sainho93 on Dec 11, 2018, 08:46

@schroedtert thanks!

[2019-07-11 07:14] chraibi opened #97 "Crash when creating doors with not existing rooms"
In Gitlab by @schroedtert on Dec 6, 2018, 15:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/108)]

To reproduce this crash:
1. Create wall
2. Create door in editor
3. Go to doors tab
4. Create door in menu
5. Select room -> Crash

![Screenshot_2018-12-06_at_15.19.17](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/2787d94bb672d893e700e73000ebb9a5/Screen

[2019-07-11 07:14] chraibi commented on #97
In Gitlab by @chraibi on Dec 6, 2018, 16:26

I think we should go through all files, and **avoid** any pointer-differentiation before checking against `null_ptr`

for example:

avoid:

`ptr->value`

better:

[code]

[2019-07-11 07:14] chraibi commented on #97
In Gitlab by @sainho93 on Dec 10, 2018, 15:22

@chraibi you are right, it's a classic problem of null pointer. And it have been solved in v0.8.5.😉

[2019-07-11 07:14] chraibi commented on #97
In Gitlab by @sainho93 on Dec 10, 2018, 15:22

closed

[2019-07-11 07:14] #97 closed

[2019-07-11 07:14] chraibi opened #98 "Goals and Sources"
In Gitlab by @anna-braun on Dec 7, 2018, 18:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/109)]

It should be able to draw and define goals and sources with the editor and save it in external files like the h-lines.

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit 12e594e9a17d9866c7651404eb9ff64a51c128ba

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit b6cb50bc37e05b792263285b5e3d307de532d4b3

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit d1d4ca3dd44d6f254e6890a0c082f498e7d739e3

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit 056737545c2d0b78ad06c0126a95b9b4a329face

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit ba4988cbec3c0a9d89293927b0ba5572e3bf5bbe

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit ca3d98fad83ceac1b3de7523457b22ef1bef0a7a

[2019-07-11 07:14] chraibi commented on #98
In Gitlab by @sainho93 on Mar 1, 2019, 11:59

mentioned in commit 0d98220ad74f60da8e309dddd7a91ed348c16c9b

[2019-07-11 08:59] chraibi opened #99 "Confirm before close window"
In Gitlab by @chraibi on Jul 14, 2015, 15:51 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/28)]

null

[2019-07-11 08:59] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 08:59] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by M.Osterkamp on 08 Dec 2015, 10:15_

---

done

[2019-07-11 08:59] #99 closed

[2019-07-11 08:59] chraibi opened #100 "Include new geometry of jps"
In Gitlab by @chraibi on Feb 1, 2016, 13:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/36)]

null

[2019-07-11 08:59] chraibi commented on #100
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by chraibi on 27 Oct 2016, 10:52_

---

Is this done?

[2019-07-11 09:00] chraibi commented on #100
In Gitlab by @chraibi on Jul 13, 2017, 22:35

closed

[2019-07-11 09:00] #100 closed

[2019-07-11 09:00] chraibi opened #101 "load xml without routing.xml"
In Gitlab by @chraibi on Feb 22, 2016, 15:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/38)]

null

[2019-07-11 09:00] chraibi commented on #101
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 09:00] chraibi commented on #101
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 15 Mar 2016, 15:03_

---

mentioned in commit b75d0423b48345fa5a0d25b3f6961f443dab0bf7

[2019-07-11 09:00] #101 closed

[2019-07-11 09:00] chraibi opened #102 "Crash when deleting door to outside"
In Gitlab by @chraibi on Feb 22, 2016, 15:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/39)]

null

[2019-07-11 09:00] chraibi commented on #102
In Gitlab by @chraibi on Dec 17, 2016, 08:38

closed

[2019-07-11 09:00] chraibi commented on #102
In Gitlab by @chraibi on Dec 17, 2016, 08:38

_Original comment by andresen on 15 Mar 2016, 14:49_

---

Bug could not be reproduced. May be that the geometry I used for test purposes was broken.
Feel free to reopen this issue if jpseditor crashes when you delete an exit.

[2019-07-11 09:00] #102 closed

[2019-07-11 09:00] chraibi opened #103 "Heap error when deleting rooms and specify doors afterwards"
In Gitlab by @chraibi on Aug 15, 2016, 13:10 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/42)]

null

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @sainho93 on Aug 23, 2018, 14:10

@chraibi Could you describe about this bug?

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @sainho93 on Aug 23, 2018, 14:10

assigned to @sainho93 and unassigned @Erik-Andresen

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @Erik-Andresen on Aug 31, 2018, 17:13

That's a dangling pointer which means that the application tries to access the ressource of a pointer (probably some object) but the ressource has been deleted already.
Check what happens when rooms are deleted and if there is a pointer that points to a deleted object.

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @sainho93 on Sep 3, 2018, 14:56

mentioned in commit a48bde11e123ad746d2f63b8dc9aff263a20bb41

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @sainho93 on Sep 3, 2018, 15:13

Fixed in 614e67ac202d7977245d98d65a0e4ae1bc94acff.

[2019-07-11 09:00] chraibi commented on #103
In Gitlab by @sainho93 on Sep 3, 2018, 15:20

closed

[2019-07-11 09:00] chraibi opened #104 "Add Auto Saving function"
In Gitlab by @sainho93 on Jun 6, 2018, 12:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/67)]

null

[2019-07-11 09:00] chraibi commented on #104
In Gitlab by @sainho93 on Jun 14, 2018, 00:36

assigned to @sainho93

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Jul 31, 2018, 15:44

closed

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Jul 31, 2018, 15:45

changed title from **{-Repair `Auto Save`-} function** to **{+Add Auto Saving+} function**

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Jul 31, 2018, 15:45

commit: 44ad34727995b3e5641e7bca297879f90a8112ec

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Aug 28, 2018, 16:07

reopened

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Oct 3, 2018, 22:11

removed milestone

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Oct 22, 2018, 21:38

mentioned in commit 07ff266387318a8eccacdbbd2d84f00508c8eae1

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Oct 22, 2018, 21:40

Finished commit: 07ff266387318a8eccacdbbd2d84f00508c8eae1

[2019-07-11 09:01] chraibi commented on #104
In Gitlab by @sainho93 on Oct 22, 2018, 21:40

closed

[2019-07-11 09:01] #104 closed

[2019-07-11 09:01] chraibi opened #105 "Save FDS file"
In Gitlab by @sainho93 on Jul 17, 2018, 11:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/68)]

null

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 17, 2018, 11:57

assigned to @sainho93

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 17, 2018, 11:57

Finish sava function in FDSEdit Dialog

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 23, 2018, 14:03

closed

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 23, 2018, 14:06

commit: 7c5daeb45f03932058ea178b6d10a6ba034cbf2b

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 23, 2018, 14:06

reopened

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 30, 2018, 11:40

closed

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Jul 30, 2018, 11:41

commit: e1e6c0f989330289f535d6c2d1aa89f4ef323b3b

[2019-07-11 09:01] chraibi commented on #105
In Gitlab by @sainho93 on Apr 2, 2019, 20:43

removed due date

[2019-07-11 09:01] #105 closed

[2019-07-11 09:01] chraibi opened #106 "run fds"
In Gitlab by @sainho93 on Jul 30, 2018, 12:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/69)]

null

[2019-07-11 09:02] chraibi commented on #106
In Gitlab by @sainho93 on Aug 1, 2018, 10:46

assigned to @sainho93

[2019-07-11 09:02] chraibi commented on #106
In Gitlab by @sainho93 on Aug 6, 2018, 12:56

removed milestone

[2019-07-11 09:02] chraibi commented on #106
In Gitlab by @sainho93 on Aug 28, 2018, 15:12

closed

[2019-07-11 09:02] #106 closed

[2019-07-11 09:02] chraibi opened #107 "fds error window"
In Gitlab by @sainho93 on Jul 30, 2018, 12:09 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/70)]

null

[2019-07-11 09:02] chraibi commented on #107
In Gitlab by @sainho93 on Aug 28, 2018, 15:12

closed

[2019-07-11 09:02] #107 closed

[2019-07-11 09:02] chraibi opened #108 "can't run ini file which file path with spaces"
In Gitlab by @sainho93 on Aug 1, 2018, 09:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/71)]

null

[2019-07-11 09:02] chraibi commented on #108
In Gitlab by @sainho93 on Aug 23, 2018, 13:04

mentioned in commit 1179e1717aa65cc79157fb99e57bada2e7787736

[2019-07-11 09:02] chraibi commented on #108
In Gitlab by @sainho93 on Aug 23, 2018, 13:05

closed via commit 1179e1717aa65cc79157fb99e57bada2e7787736

[2019-07-11 09:02] chraibi commented on #108
In Gitlab by @sainho93 on Aug 23, 2018, 13:06

Fixed. Commit:1179e1717aa65cc79157fb99e57bada2e7787736

[2019-07-11 09:02] #108 closed

[2019-07-11 09:02] chraibi opened #109 "clean temporary files after running fds and jps"
In Gitlab by @sainho93 on Aug 1, 2018, 10:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/72)]

null

[2019-07-11 09:02] chraibi commented on #109
In Gitlab by @sainho93 on Aug 1, 2018, 10:46

assigned to @sainho93

[2019-07-11 09:02] chraibi commented on #109
In Gitlab by @sainho93 on Aug 6, 2018, 12:56

removed milestone

[2019-07-11 09:02] chraibi commented on #109
In Gitlab by @sainho93 on Nov 29, 2018, 11:12

closed

[2019-07-11 09:02] #109 closed

[2019-07-11 09:02] chraibi opened #110 "Add Custom Dialogs for FDS Parameter"
In Gitlab by @sainho93 on Aug 5, 2018, 18:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/73)]

null

[2019-07-11 09:02] chraibi commented on #110
In Gitlab by @sainho93 on Aug 5, 2018, 18:54

assigned to @sainho93

[2019-07-11 09:02] chraibi commented on #110
In Gitlab by @sainho93 on Aug 5, 2018, 18:59

* [x] Logical
* [x] Real Triplet
* [x] Real Sextuplet

[2019-07-11 09:02] chraibi commented on #110
In Gitlab by @sainho93 on Aug 6, 2018, 10:14

commit: 1aff433ac15cca92a948d2b5f8e2feba29aaa05b

[2019-07-11 09:03] chraibi commented on #110
In Gitlab by @sainho93 on Aug 6, 2018, 10:14

closed

[2019-07-11 09:03] #110 closed

[2019-07-11 09:03] chraibi opened #111 "Caption don't disappear when geometry was deleted"
In Gitlab by @sainho93 on Aug 27, 2018, 10:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/79)]

null

[2019-07-11 09:03] chraibi commented on #111
In Gitlab by @sainho93 on Aug 27, 2018, 10:03

assigned to @sainho93

[2019-07-11 09:03] chraibi commented on #111
In Gitlab by @sainho93 on Sep 3, 2018, 23:12

mentioned in commit 6bf21384edf60eb868e39f09dc77bcc97568684a

[2019-07-11 09:03] chraibi commented on #111
In Gitlab by @sainho93 on Sep 3, 2018, 23:14

Fixed in commit: 6bf21384edf60eb868e39f09dc77bcc97568684a

[2019-07-11 09:03] chraibi commented on #111
In Gitlab by @sainho93 on Sep 3, 2018, 23:14

closed

[2019-07-11 09:03] chraibi commented on #111
In Gitlab by @sainho93 on Sep 18, 2018, 10:37

mentioned in commit 158b3cf0c43e36f4a7347e5653ab3282071a2561

[2019-07-11 09:03] #111 closed

[2019-07-11 09:03] chraibi opened #112 "Prepare Install packages for Windows, mac, and Linux"
In Gitlab by @sainho93 on Aug 27, 2018, 10:51 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/80)]

null

[2019-07-11 09:03] chraibi commented on #112
In Gitlab by @sainho93 on Aug 27, 2018, 10:54

assigned to @sainho93

[2019-07-11 09:03] chraibi commented on #112
In Gitlab by @gjaeger on Aug 28, 2018, 09:51

Good idea

@sainho93 What's your schedule?

[2019-07-11 09:03] chraibi commented on #112
In Gitlab by @sainho93 on Aug 28, 2018, 15:30

removed milestone

[2019-07-11 09:03] chraibi commented on #112
In Gitlab by @sainho93 on Oct 8, 2018, 13:41

closed

[2019-07-11 09:03] #112 closed

[2019-07-11 09:03] chraibi opened #113 "Update "About JPSeditor" Information"
In Gitlab by @sainho93 on Aug 28, 2018, 15:34 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/85)]

null

[2019-07-11 09:03] chraibi commented on #113
In Gitlab by @sainho93 on Aug 28, 2018, 15:34

assigned to @sainho93

[2019-07-11 09:03] chraibi commented on #113
In Gitlab by @sainho93 on Sep 3, 2018, 15:41

mentioned in commit 5b6a9551edadbb5e29042d32d1f43d998f73473a

[2019-07-11 09:03] chraibi commented on #113
In Gitlab by @sainho93 on Sep 3, 2018, 15:43

Finished in commit:5b6a9551edadbb5e29042d32d1f43d998f73473a

[2019-07-11 09:04] #113 closed

[2019-07-11 09:04] chraibi opened #114 "Exchange svg into png for linux"
In Gitlab by @sainho93 on Sep 30, 2018, 18:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/88)]

null

[2019-07-11 09:04] chraibi commented on #114
In Gitlab by @sainho93 on Sep 30, 2018, 18:57

assigned to @sainho93

[2019-07-11 09:04] chraibi commented on #114
In Gitlab by @sainho93 on Oct 8, 2018, 13:41

closed

[2019-07-11 09:04] #114 closed

[2019-07-11 09:04] chraibi opened #115 "Add Tutorial for building JPSeditor"
In Gitlab by @sainho93 on Oct 8, 2018, 13:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/93)]

null

[2019-07-11 09:04] chraibi commented on #115
In Gitlab by @sainho93 on Oct 8, 2018, 13:57

assigned to @sainho93

[2019-07-11 09:04] chraibi commented on #115
In Gitlab by @sainho93 on Oct 18, 2018, 12:41

closed

[2019-07-11 09:04] #115 closed

[2019-07-11 09:04] chraibi opened #116 "Plain Text Editor for Geometry"
In Gitlab by @sainho93 on Oct 15, 2018, 12:47 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/94)]

null

[2019-07-11 09:04] chraibi opened #117 "Documentation: How to develop JPSeditor on macOS and Windows"
In Gitlab by @sainho93 on Oct 17, 2018, 15:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/95)]

null

[2019-07-11 09:04] chraibi commented on #117
In Gitlab by @sainho93 on Oct 17, 2018, 15:55

assigned to @sainho93

[2019-07-11 09:04] chraibi commented on #117
In Gitlab by @sainho93 on Oct 18, 2018, 09:52

closed

[2019-07-11 09:04] chraibi commented on #117
In Gitlab by @sainho93 on Oct 18, 2018, 12:48

Finished: http://www.jupedsim.org/jpseditor/2018-10-17-develop_JPSeditor.html

[2019-07-11 09:04] #117 closed

[2019-07-11 09:04] chraibi opened #118 "Add links in Changlog"
In Gitlab by @sainho93 on Oct 17, 2018, 15:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/97)]

null

[2019-07-11 09:04] chraibi commented on #118
In Gitlab by @sainho93 on Oct 17, 2018, 15:56

assigned to @sainho93

[2019-07-11 09:04] chraibi commented on #118
In Gitlab by @sainho93 on Oct 18, 2018, 09:52

closed

[2019-07-11 09:04] chraibi commented on #118
In Gitlab by @sainho93 on Oct 18, 2018, 12:44

Commit: 0f876f6bb725fa81d18c700789c01edb66ac3098

[2019-07-11 09:05] #118 closed

[2019-07-11 09:05] chraibi opened #119 "Esc doesn't work while drawing"
In Gitlab by @sainho93 on Oct 18, 2018, 09:04 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/98)]

null

[2019-07-11 09:05] chraibi commented on #119
In Gitlab by @sainho93 on Oct 18, 2018, 09:04

assigned to @sainho93

[2019-07-11 09:05] chraibi commented on #119
In Gitlab by @sainho93 on Oct 18, 2018, 16:54

mentioned in commit b63c150d41dade35143da52fffc9e0bdd68ce065

[2019-07-11 09:05] chraibi commented on #119
In Gitlab by @sainho93 on Oct 18, 2018, 16:56

closed

[2019-07-11 09:05] chraibi commented on #119
In Gitlab by @sainho93 on Oct 18, 2018, 16:56

Fixed: b63c150d41dade35143da52fffc9e0bdd68ce065

[2019-07-11 09:05] #119 closed

[2019-07-11 09:05] chraibi opened #120 "Fix origin and axis"
In Gitlab by @sainho93 on Oct 18, 2018, 16:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/99)]

null

[2019-07-11 09:05] chraibi commented on #120
In Gitlab by @sainho93 on Oct 18, 2018, 16:59

assigned to @sainho93

[2019-07-11 09:05] chraibi commented on #120
In Gitlab by @sainho93 on Oct 18, 2018, 17:13

mentioned in commit 5c48e8324429432e3d1b647ff7ea8ec385c4aaa6

[2019-07-11 09:05] chraibi commented on #120
In Gitlab by @sainho93 on Oct 18, 2018, 17:14

closed

[2019-07-11 09:05] chraibi commented on #120
In Gitlab by @sainho93 on Oct 18, 2018, 17:14

Fixed: 5c48e8324429432e3d1b647ff7ea8ec385c4aaa6

[2019-07-11 09:05] #120 closed

[2019-07-11 09:05] chraibi opened #121 "Better Panning Mode"
In Gitlab by @sainho93 on Oct 19, 2018, 17:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/100)]

null

[2019-07-11 09:05] chraibi commented on #121
In Gitlab by @sainho93 on Oct 19, 2018, 17:27

assigned to @sainho93

[2019-07-11 09:05] chraibi commented on #121
In Gitlab by @sainho93 on Oct 23, 2018, 12:09

mentioned in commit 3d010a56849ed23bf787b0ae525258d1dba59de5

[2019-07-11 09:05] chraibi commented on #121
In Gitlab by @sainho93 on Oct 23, 2018, 12:10

closed

[2019-07-11 09:05] chraibi commented on #121
In Gitlab by @sainho93 on Oct 23, 2018, 12:10

Finished commit:3d010a56849ed23bf787b0ae525258d1dba59de5

[2019-07-11 09:05] #121 closed

[2019-07-11 09:05] chraibi opened #122 "Improve stability"
In Gitlab by @sainho93 on Nov 5, 2018, 13:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/105)]

null

[2019-07-11 09:06] chraibi commented on #122
In Gitlab by @sainho93 on Nov 5, 2018, 13:44

assigned to @sainho93

[2019-07-11 09:06] chraibi commented on #122
In Gitlab by @sainho93 on Dec 18, 2018, 13:42

Finished: https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/tree/iss%2390

[2019-07-11 09:06] chraibi commented on #122
In Gitlab by @sainho93 on Dec 18, 2018, 13:42

closed

[2019-07-11 09:06] #122 closed

[2019-07-11 09:06] #98 closed

[2019-07-11 09:06] chraibi opened #123 "Shortcuts"
In Gitlab by @anna-braun on Dec 7, 2018, 18:07 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/110)]

It should be possible to use the old shortcuts for wall ("w"), door ("d") etc. again.
And it would also good to be able to use the "esc"- and "del"-button again.

[2019-07-11 09:06] chraibi commented on #123
In Gitlab by @chraibi on Dec 12, 2018, 14:33

@anna-braun We already have these shortcuts :rolling\_eyes:

![Screenshot_2018-12-12_at_14.32.09](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/9fb83935aa0c99f0984f350b46ab2b17/Screenshot_2018-12-12_at_14.32.09.png)

![Screenshot_2018-12-12_at_14.32.17](/uploads/48c57af4daafea13c28295a6e785e054/Screenshot_2018-12-12_at_14.32.17.png)

[2019-07-11 09:06] chraibi commented on #123
In Gitlab by @sainho93 on Dec 18, 2018, 13:21

closed

[2019-07-11 09:06] #123 closed

[2019-07-11 09:06] chraibi opened #124 "Crash reports"
In Gitlab by @chraibi on Dec 12, 2018, 14:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/111)]

# This issue is a collection of crash reports..

Please upload in this issue your crash reports.
(no description needed)

![Screenshot_2018-12-12_at_14.43.34](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/f1e0ba9f49bbcc7081d3b3e97c266fc5/Screenshot_2018-12-

[2019-07-11 09:06] chraibi commented on #124
In Gitlab by @sainho93 on Dec 14, 2018, 13:27

assigned to @sainho93

[2019-07-11 09:06] chraibi commented on #124
In Gitlab by @sainho93 on Dec 14, 2018, 16:42

@chraibi Try this commit: 2faf669246aa9f166dbf16fc7911c093bd6c56f4 😀

[2019-07-11 09:06] chraibi commented on #124
In Gitlab by @sainho93 on Dec 18, 2018, 13:21

Fixed:2faf669246aa9f166dbf16fc7911c093bd6c56f4

[2019-07-11 09:06] chraibi commented on #124
In Gitlab by @sainho93 on Dec 18, 2018, 13:21

closed

[2019-07-11 09:06] #124 closed

[2019-07-11 09:06] chraibi opened #125 "Redesign Inifile widget Layout"
In Gitlab by @sainho93 on Jan 11, 2019, 12:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/112)]

null

[2019-07-11 09:06] chraibi commented on #125
In Gitlab by @sainho93 on Jan 15, 2019, 23:54

Finished: de2dd83a40e2af902d0efe3ac385ed951171826c

[2019-07-11 09:06] chraibi commented on #125
In Gitlab by @sainho93 on Jan 15, 2019, 23:54

closed

[2019-07-11 09:06] #125 closed

[2019-07-11 09:06] chraibi opened #126 "Show operation on statusBar"
In Gitlab by @sainho93 on Jan 11, 2019, 12:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/113)]

null

[2019-07-11 09:07] chraibi commented on #126
In Gitlab by @sainho93 on Jan 15, 2019, 23:54

Finished: de2dd83a40e2af902d0efe3ac385ed951171826c

[2019-07-11 09:07] chraibi commented on #126
In Gitlab by @sainho93 on Jan 15, 2019, 23:55

closed

[2019-07-11 09:07] #126 closed

[2019-07-11 09:07] chraibi opened #127 "Update cmakelists.txt"
In Gitlab by @sainho93 on Jan 23, 2019, 14:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/114)]

null

[2019-07-11 09:07] chraibi commented on #127
In Gitlab by @sainho93 on Jan 23, 2019, 14:54

assigned to @sainho93

[2019-07-11 09:07] chraibi commented on #127
In Gitlab by @sainho93 on Jan 25, 2019, 12:44

Finished: commit 1f8558b6883c5a157a8f0c24e91c3583baf512a5

[2019-07-11 09:07] chraibi commented on #127
In Gitlab by @sainho93 on Jan 25, 2019, 12:44

closed

[2019-07-11 09:07] #127 closed

[2019-07-11 09:07] chraibi opened #128 "Import and export FDS files"
In Gitlab by @gjaeger on Jan 25, 2019, 11:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/115)]

FDS (_Fire Dynamics Simulator_) is a beautiful tool, we should also be able to import and export fds-files.

[2019-07-11 09:07] chraibi opened #129 "Input coordinates"
In Gitlab by @chraibi on Feb 9, 2019, 10:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/116)]

It seems that input of coordinates is buggy

See video

![bug_jpseditor](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/11bb8ed2da402776e1c88dd72f046386/bug_jpseditor.mov)

[2019-07-11 09:07] chraibi commented on #129
In Gitlab by @chraibi on Feb 11, 2019, 10:52

I got this error in `develop`, not in `version087`

[2019-07-11 09:07] chraibi commented on #129
In Gitlab by @chraibi on Feb 11, 2019, 10:53

@sainho93 what is the "default" branch in your workflow?

[2019-07-11 09:07] chraibi commented on #129
In Gitlab by @sainho93 on Feb 20, 2019, 16:04

mentioned in commit acf90bc156c770f026ae9fc754b7102b4e414dd5

[2019-07-11 09:07] chraibi commented on #129
In Gitlab by @sainho93 on Feb 20, 2019, 16:05

Fixed: d00a7826496bf5ce85ef4a0fb145872a10da53ca

[2019-07-11 09:07] chraibi commented on #129
In Gitlab by @sainho93 on Feb 20, 2019, 16:06

closed

[2019-07-11 09:07] #129 closed

[2019-07-11 09:07] chraibi opened #130 "Warning for Hline"
In Gitlab by @sainho93 on Feb 14, 2019, 09:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/117)]

null

[2019-07-11 09:07] chraibi commented on #130
In Gitlab by @sainho93 on Feb 14, 2019, 09:40

assigned to @sainho93

[2019-07-11 09:07] chraibi commented on #130
In Gitlab by @sainho93 on Feb 20, 2019, 16:04

mentioned in commit 04382d33fab6d755a2af2892773c47ab41d731db

[2019-07-11 09:07] chraibi commented on #130
In Gitlab by @sainho93 on Feb 20, 2019, 16:06

Finished in commit d00a7826496bf5ce85ef4a0fb145872a10da53ca

[2019-07-11 09:07] chraibi commented on #130
In Gitlab by @sainho93 on Feb 20, 2019, 16:07

closed

[2019-07-11 09:08] #130 closed

[2019-07-11 09:08] chraibi opened #131 "Layer for HLines, doors, and obstacles"
In Gitlab by @sainho93 on Feb 14, 2019, 09:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/118)]

null

[2019-07-11 09:08] chraibi commented on #131
In Gitlab by @sainho93 on Feb 14, 2019, 09:43

assigned to @sainho93

[2019-07-11 09:08] chraibi commented on #131
In Gitlab by @sainho93 on Feb 20, 2019, 15:38

removed milestone

[2019-07-11 09:08] chraibi commented on #131
In Gitlab by @sainho93 on Mar 22, 2019, 13:08

removed milestone

[2019-07-11 09:08] chraibi commented on #131
In Gitlab by @sainho93 on Jun 27, 2019, 19:50

removed milestone

[2019-07-11 09:08] chraibi opened #132 "Obstacles button"
In Gitlab by @chraibi on Feb 14, 2019, 09:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/119)]

Maybe it would be easier for the workflow if we have a special new button for obstacles.

Actually we have these types:

- Hline
- Door
- Wall

![Screenshot_2019-02-14_at_09.42.39](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/734ee855ece0d63215197d36b3268c

[2019-07-11 09:08] chraibi commented on #132
In Gitlab by @sainho93 on Feb 20, 2019, 16:14

removed milestone

[2019-07-11 09:08] chraibi commented on #132
In Gitlab by @sainho93 on Apr 12, 2019, 17:20

removed milestone

[2019-07-11 09:08] chraibi opened #133 "Keystrok for Walls ist wrong"
In Gitlab by @chraibi on Feb 14, 2019, 09:50 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/120)]

![Screenshot_2019-02-14_at_09.48.45](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/b71e27b206e49e3f6d4d69e995246358/Screenshot_2019-02-14_at_09.48.45.png)

![Screenshot_2019-02-14_at_09.48.51](/uploads/db31355c90ba717a127cc1c8bea71220/Screenshot_2019-02-14_

[2019-07-11 09:08] chraibi commented on #133
In Gitlab by @sainho93 on Feb 20, 2019, 16:04

mentioned in commit d00a7826496bf5ce85ef4a0fb145872a10da53ca

[2019-07-11 09:08] chraibi commented on #133
In Gitlab by @sainho93 on Feb 20, 2019, 16:05

Finished: d00a7826496bf5ce85ef4a0fb145872a10da53ca

[2019-07-11 09:08] chraibi commented on #133
In Gitlab by @sainho93 on Feb 20, 2019, 16:06

closed

[2019-07-11 09:08] #133 closed

[2019-07-11 09:08] chraibi opened #134 "Segmentation Fault when opening empty rooms"
In Gitlab by @chraibi on Feb 14, 2019, 09:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/121)]

When opening rooms like this one (a backup file)
[code]

a SegFault is produced.

We simply should expect these files and don't parse them at all.

![Screenshot_2019-02-14_at_09.55.22](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/c7fc520461f1adb4c97153c643

[2019-07-11 09:08] chraibi commented on #134
In Gitlab by @sainho93 on Feb 20, 2019, 15:38

assigned to @sainho93

[2019-07-11 09:08] chraibi commented on #134
In Gitlab by @sainho93 on Feb 20, 2019, 16:04

mentioned in commit fa79647f07af986fbe03974eeae77c8c9fb5db26

[2019-07-11 09:08] chraibi commented on #134
In Gitlab by @sainho93 on Mar 1, 2019, 11:53

mentioned in commit 3fcf1b1dade6e6002aeb72d7b6783b49f4e80f6d

[2019-07-11 09:08] chraibi commented on #134
In Gitlab by @sainho93 on Mar 1, 2019, 11:53

mentioned in commit bd4587bb713caea4bd52d76a1a87a2a9b4da971c

[2019-07-11 09:08] chraibi commented on #134
In Gitlab by @sainho93 on Mar 6, 2019, 11:15

closed

[2019-07-11 09:09] #134 closed

[2019-07-11 09:09] chraibi opened #135 "Snapping options aren't save"
In Gitlab by @sainho93 on Mar 8, 2019, 11:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/122)]

Snapping options can't be saved after closing snapping widget

[2019-07-11 09:09] chraibi commented on #135
In Gitlab by @sainho93 on Mar 22, 2019, 13:15

mentioned in commit a0f131d60f903011fdc321a69c160d7311d5ebda

[2019-07-11 09:09] chraibi commented on #135
In Gitlab by @sainho93 on Mar 22, 2019, 13:22

Finished in commit: a0f131d60f903011fdc321a69c160d7311d5ebda

[2019-07-11 09:09] chraibi commented on #135
In Gitlab by @sainho93 on Mar 22, 2019, 13:22

closed

[2019-07-11 09:09] #135 closed

[2019-07-11 09:09] chraibi opened #136 "Merge door window into room"
In Gitlab by @sainho93 on Mar 8, 2019, 11:29 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/123)]

[2019-07-11 09:09] chraibi commented on #136
In Gitlab by @sainho93 on Mar 8, 2019, 12:50

mentioned in commit 6b07f8ef4f0508fb79113942cb570a318e2a6093

[2019-07-11 09:09] chraibi commented on #136
In Gitlab by @sainho93 on Mar 8, 2019, 12:52

Finished in commit:fecdfd35caf694097503698adaf4ad06c4cb0362

[2019-07-11 09:09] chraibi commented on #136
In Gitlab by @sainho93 on Mar 8, 2019, 12:52

closed

[2019-07-11 09:09] #136 closed

[2019-07-11 09:09] chraibi opened #137 "Controlling grid scale by input"
In Gitlab by @sainho93 on Mar 22, 2019, 13:07 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/124)]

null

[2019-07-11 09:09] chraibi commented on #137
In Gitlab by @sainho93 on Mar 22, 2019, 13:23

assigned to @sainho93

[2019-07-11 09:09] chraibi commented on #137
In Gitlab by @sainho93 on Apr 12, 2019, 17:20

removed milestone

[2019-07-11 09:09] chraibi opened #138 "XML file for transitions"
In Gitlab by @sainho93 on Mar 22, 2019, 13:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/125)]

null

[2019-07-11 09:09] chraibi commented on #138
In Gitlab by @sainho93 on Mar 22, 2019, 13:23

assigned to @sainho93

[2019-07-11 09:09] chraibi commented on #138
In Gitlab by @sainho93 on Apr 3, 2019, 21:25

mentioned in commit 66bb6c05a73be606a7ff30cd5e980698d19a2baf

[2019-07-11 09:09] chraibi commented on #138
In Gitlab by @sainho93 on Apr 3, 2019, 21:26

Finished in commit:08b945645473359a747dd4cae69265fb6a5bcf70

[2019-07-11 09:09] chraibi commented on #138
In Gitlab by @sainho93 on Apr 3, 2019, 21:26

closed

[2019-07-11 09:09] #138 closed

[2019-07-11 09:09] chraibi opened #139 "XML file for traffic"
In Gitlab by @anna-braun on Mar 22, 2019, 13:15 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/126)]

See issue [302](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/302) in jpscore

[2019-07-11 09:10] chraibi commented on #139
In Gitlab by @sainho93 on Mar 22, 2019, 13:22

assigned to @sainho93

[2019-07-11 09:10] chraibi commented on #139
In Gitlab by @sainho93 on Apr 3, 2019, 21:25

mentioned in commit 255af074d5441493d2c9528acbba15ebb7723252

[2019-07-11 09:10] chraibi commented on #139
In Gitlab by @sainho93 on Apr 8, 2019, 09:09

Replan in issue #127

[2019-07-11 09:10] chraibi commented on #139
In Gitlab by @sainho93 on Apr 8, 2019, 09:09

closed

[2019-07-11 09:10] chraibi commented on #139
In Gitlab by @sainho93 on Apr 10, 2019, 09:28

mentioned in commit 32603dd8188da6e3be2f1d97729702f179544d8e

[2019-07-11 09:10] #139 closed

[2019-07-11 09:10] chraibi opened #140 "Combine data between geometry and inifile"
In Gitlab by @sainho93 on Apr 8, 2019, 09:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/127)]

- Goal
- Door
- Room

[2019-07-11 09:10] chraibi commented on #140
In Gitlab by @sainho93 on Apr 8, 2019, 09:08

assigned to @sainho93

[2019-07-11 09:10] chraibi commented on #140
In Gitlab by @sainho93 on Apr 8, 2019, 09:13

changed the description

[2019-07-11 09:10] chraibi commented on #140
In Gitlab by @sainho93 on Apr 28, 2019, 11:42

Finished commit:8c91f4e1f7f182d1c7cabd0fb2c01f49cf1837b2

[2019-07-11 09:10] chraibi commented on #140
In Gitlab by @sainho93 on Apr 28, 2019, 11:42

closed

[2019-07-11 09:10] #140 closed

[2019-07-11 09:10] chraibi opened #141 "Better defaults"
In Gitlab by @chraibi on Apr 9, 2019, 07:07 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/128)]

When an argument is not given, it's better not to set it at all.

For example `jpseditor` outputs this

[code]

Better would be

[code]

[2019-07-11 09:10] chraibi commented on #141
In Gitlab by @sainho93 on Apr 24, 2019, 09:32

mentioned in commit 6e61cb6d8bfd538ae8d44ce880db335fd6eac0ed

[2019-07-11 09:10] chraibi commented on #141
In Gitlab by @sainho93 on Apr 24, 2019, 09:33

Finished in commit: 6e61cb6d8bfd538ae8d44ce880db335fd6eac0ed

[2019-07-11 09:10] chraibi commented on #141
In Gitlab by @sainho93 on Apr 24, 2019, 09:33

closed

[2019-07-11 09:10] #141 closed

[2019-07-11 09:10] chraibi opened #142 "Format the name of xml files"
In Gitlab by @sainho93 on Apr 9, 2019, 23:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/129)]

null

[2019-07-11 09:10] chraibi commented on #142
In Gitlab by @sainho93 on Apr 9, 2019, 23:01

assigned to @sainho93

[2019-07-11 09:10] chraibi commented on #142
In Gitlab by @sainho93 on Apr 9, 2019, 23:01

@chraibi could you add a template here? Thanks!

[2019-07-11 09:11] chraibi commented on #142
In Gitlab by @sainho93 on Apr 30, 2019, 16:39

Finished in commit ef84e19fe4e6bac664f8989d78b558ee6c1c5664

[2019-07-11 09:11] chraibi commented on #142
In Gitlab by @sainho93 on Apr 30, 2019, 16:39

closed

[2019-07-11 09:11] #142 closed

[2019-07-11 09:11] chraibi opened #143 "Terminal for runing simulation"
In Gitlab by @sainho93 on Apr 9, 2019, 23:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/130)]

null

[2019-07-11 09:11] chraibi commented on #143
In Gitlab by @sainho93 on Apr 9, 2019, 23:03

assigned to @sainho93

[2019-07-11 09:11] chraibi commented on #143
In Gitlab by @sainho93 on Apr 26, 2019, 16:20

removed milestone

[2019-07-11 09:11] chraibi commented on #143
In Gitlab by @sainho93 on May 9, 2019, 09:36

changed due date to May 24, 2019

[2019-07-11 09:11] chraibi commented on #143
In Gitlab by @sainho93 on May 27, 2019, 14:01

removed due date

[2019-07-11 09:11] chraibi commented on #143
In Gitlab by @sainho93 on Jun 17, 2019, 08:25

removed milestone

[2019-07-11 09:11] chraibi opened #144 "Show/ hide options tab"
In Gitlab by @chraibi on Apr 12, 2019, 11:11 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/131)]

Have a look at the video to get the idea :-)

![hide_show](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/2ef7a75662409182d82b2cf15fff0d75/hide_show.mov)

[2019-07-11 09:11] chraibi commented on #144
In Gitlab by @sainho93 on Apr 12, 2019, 17:19

assigned to @sainho93

[2019-07-11 09:11] chraibi commented on #144
In Gitlab by @sainho93 on Apr 30, 2019, 16:37

mentioned in commit ef84e19fe4e6bac664f8989d78b558ee6c1c5664

[2019-07-11 09:11] chraibi commented on #144
In Gitlab by @sainho93 on Apr 30, 2019, 16:39

Finished  in commit ef84e19fe4e6bac664f8989d78b558ee6c1c5664

[2019-07-11 09:11] chraibi commented on #144
In Gitlab by @sainho93 on Apr 30, 2019, 16:39

closed

[2019-07-11 09:11] #144 closed

[2019-07-11 09:11] chraibi opened #145 "Update about with useful information"
In Gitlab by @chraibi on Apr 12, 2019, 17:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/132)]

For issue reports, it makes sense to send a screenshot of the used `jpseditor`.

See for example `jpsvis`

![Screenshot_2019-04-05_at_21.16.26](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/1db32c2b10f02214d8ad6602918eabef/Screenshot_2019-04-05_at_21.16.26.

[2019-07-11 09:11] chraibi commented on #145
In Gitlab by @sainho93 on May 3, 2019, 11:48

removed milestone

[2019-07-11 09:11] chraibi commented on #145
In Gitlab by @sainho93 on May 7, 2019, 15:04

assigned to @sainho93

[2019-07-11 09:11] chraibi commented on #145
In Gitlab by @sainho93 on May 27, 2019, 14:00

mentioned in commit cd1cf90394fe173b2902d091d5818e527b4125b9

[2019-07-11 09:11] chraibi commented on #145
In Gitlab by @sainho93 on May 27, 2019, 14:01

Finished in commit:cd1cf90394fe173b2902d091d5818e527b4125b9

[2019-07-11 09:12] chraibi commented on #145
In Gitlab by @sainho93 on May 27, 2019, 14:01

closed

[2019-07-11 09:12] #145 closed

[2019-07-11 09:12] chraibi opened #146 "Update goal file format"
In Gitlab by @chraibi on Apr 12, 2019, 23:16 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/133)]

For visualizing with `jpsvis` this change in the format is necessary (adding limits)
[code]

See [here](http://www.jupedsim.org/jpscore/2019-04-12-goals)

[2019-07-11 09:12] chraibi commented on #146
In Gitlab by @sainho93 on Apr 24, 2019, 13:55

mentioned in commit 29309c401ed7e19cb9acac9f70314793ebf9de18

[2019-07-11 09:12] chraibi commented on #146
In Gitlab by @sainho93 on Apr 24, 2019, 13:55

mentioned in commit 47462bca18c56660c69f988672894a3b73c19752

[2019-07-11 09:12] chraibi commented on #146
In Gitlab by @sainho93 on Apr 24, 2019, 13:56

Finished in commit: 47462bca18c56660c69f988672894a3b73c19752

[2019-07-11 09:12] chraibi commented on #146
In Gitlab by @sainho93 on Apr 24, 2019, 13:56

closed

[2019-07-11 09:17] chraibi opened #147 "Update ini file writer/reader for models"
In Gitlab by @sainho93 on May 3, 2019, 11:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/135)]

null

[2019-07-11 09:17] chraibi opened #148 "Selecting "Undefined" lines"
In Gitlab by @anna-braun on May 6, 2019, 16:58 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/136)]

When saving an xml-file the unused lines (walls) are saved as "Undefined", which is good. But most of the lines are saved as transitions and not as walls. When reopening the xml-file the unused lines are displayed and can be selected, but they can not be added to a room or

[2019-07-11 09:17] chraibi opened #149 "Open file fails"
In Gitlab by @chraibi on May 13, 2019, 12:25 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/137)]

Opening this geometry gives the following error message, however after clicking "OK" the file opens correctly.

Besides, `jpseditor` also complains about failing sources and goals files: This is not necessary if the geometry does not have these files, then it's fine.

![Scre

[2019-07-11 09:17] chraibi commented on #149
In Gitlab by @chraibi on May 13, 2019, 12:27

changed the description

[2019-07-11 09:17] chraibi commented on #149
In Gitlab by @sainho93 on Jun 2, 2019, 16:46

assigned to @sainho93

[2019-07-11 09:17] chraibi commented on #149
In Gitlab by @sainho93 on Jun 3, 2019, 10:21

mentioned in commit 0e726278491f8bb595103b8409e21a1c73125897

[2019-07-11 09:17] chraibi commented on #149
In Gitlab by @sainho93 on Jun 3, 2019, 10:22

Finished in commit:0e726278491f8bb595103b8409e21a1c73125897

[2019-07-11 09:17] chraibi commented on #149
In Gitlab by @sainho93 on Jun 3, 2019, 10:22

closed

[2019-07-11 09:17] #149 closed

[2019-07-11 09:17] chraibi opened #150 "Show geometry file name"
In Gitlab by @chraibi on May 13, 2019, 12:42 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/138)]

![Screenshot_2019-05-13_at_12.39.40](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/bdd49237431e6f865480b6a5fb0719b2/Screenshot_2019-05-13_at_12.39.40.png)

[2019-07-11 09:18] chraibi commented on #150
In Gitlab by @sainho93 on Jun 3, 2019, 10:10

removed milestone

[2019-07-11 09:18] chraibi opened #151 "Widgets are too small for long names"
In Gitlab by @chraibi on May 13, 2019, 12:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/139)]

![Screenshot_2019-05-13_at_12.35.34](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/624b6c8a4de0d6c7be2373158cf70d9b/Screenshot_2019-05-13_at_12.35.34.png)

[2019-07-11 09:18] chraibi commented on #151
In Gitlab by @sainho93 on Jun 3, 2019, 10:10

removed milestone

[2019-07-11 09:18] chraibi opened #152 "Better installer for win, linux and macOS"
In Gitlab by @sainho93 on May 14, 2019, 10:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/140)]

null

[2019-07-11 09:18] chraibi commented on #152
In Gitlab by @chraibi on May 14, 2019, 10:45

Do you have some ideas already?

[2019-07-11 09:18] chraibi commented on #152
In Gitlab by @sainho93 on May 14, 2019, 10:47

@chraibi ja, hier ist ein Library von Qt: https://doc.qt.io/qtinstallerframework/index.html

[2019-07-11 09:18] chraibi commented on #152
In Gitlab by @sainho93 on May 24, 2019, 12:01

closed

[2019-07-11 09:18] #152 closed

[2019-07-11 09:18] chraibi opened #153 "Cannot compile v0.8.8 on MacOs 10.14.4"
In Gitlab by @schroedtert on May 17, 2019, 09:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/141)]

When I tried to compile the newest version of JPSeditor, I got the following error:

[cmake.out](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/91ab5cce4d2d32b505518e335ee9bc0f/cmake.out)
[code]
[make.out](/uploads/80f9cac20179eea1ccec88f7b312e42f/make.o

[2019-07-11 09:18] chraibi commented on #153
In Gitlab by @sainho93 on May 17, 2019, 09:57

From the error message that jpeelementlistmodel.h isn't in folder "models", could you check your working copy if it's in the folder ?

[2019-07-11 09:18] chraibi commented on #153
In Gitlab by @schroedtert on May 17, 2019, 10:14

It's in the folder

[2019-07-11 09:18] chraibi commented on #153
In Gitlab by @schroedtert on May 17, 2019, 10:50

Tested it on a Linux Machine, everything worked

[2019-07-11 09:18] chraibi commented on #153
In Gitlab by @schroedtert on May 23, 2019, 13:51

Solved: CMake and/or Qt can not deal with soft links ...

[2019-07-11 09:18] chraibi commented on #153
In Gitlab by @schroedtert on May 23, 2019, 13:51

closed

[2019-07-11 09:18] #153 closed

[2019-07-11 09:18] chraibi opened #154 "Update Cmakelist for windows building"
In Gitlab by @sainho93 on May 23, 2019, 22:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/142)]

In windows, it can't be built with release mode

[2019-07-11 09:18] chraibi commented on #154
In Gitlab by @sainho93 on May 23, 2019, 22:20

assigned to @sainho93

[2019-07-11 09:18] chraibi commented on #154
In Gitlab by @sainho93 on May 23, 2019, 22:21

changed the description

[2019-07-11 09:18] chraibi commented on #154
In Gitlab by @sainho93 on Jun 2, 2019, 16:43

closed

[2019-07-11 09:18] #154 closed

[2019-07-11 09:19] chraibi opened #155 "Double Transitions"
In Gitlab by @anna-braun on Jun 3, 2019, 10:52 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/143)]

When creating a geometry with doors, the transitions are (always) saved twice in the geometry file.

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @anna-braun on Jun 3, 2019, 11:09

assigned to @sainho93

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @chraibi on Jun 3, 2019, 11:12

I just tried this with `origin/version089` and could not reproduce this bug
[test.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpseditor/uploads/88b232961a2a7ddf2bb21bf076cf04c2/test.xml)

![](https://www.dropbox.com/s/0v57c896i0ugcer/Screenshot%202019-06-03%2011.11.30.png?dl=1)

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @anna-braun on Jun 3, 2019, 11:44

My geometries had more than one room (and stairs) and there the transitions between the rooms were saved twice.
I have this problem for most of the geometries, which I created with the editor.

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @sainho93 on Jun 4, 2019, 16:45

closed

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @sainho93 on Jun 4, 2019, 16:45

This issue will be solved in #145 .

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @sainho93 on Jun 14, 2019, 14:17

mentioned in commit 6ea8208d2f84534bee07a748694a5c48c0c01610

[2019-07-11 09:19] chraibi commented on #155
In Gitlab by @sainho93 on Jun 14, 2019, 14:17

mentioned in commit b24394917a30047446c382ef5c0ea6c4c6e14d13

[2019-07-11 09:19] #155 closed

[2019-07-11 09:19] chraibi opened #156 "Stair definition failed"
In Gitlab by @anna-braun on Jun 3, 2019, 11:09 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/144)]

JPSeditor crashes quite often, so I use to save the geometry every time when I have defined a new room.
Then, if I define a room as stair in JPSeditor the A_x, B_y and C_z is (always) "nan" in the geometry file and I have to calculate it by hand.

[2019-07-11 09:19] chraibi opened #157 "Clean up jpsexit"
In Gitlab by @sainho93 on Jun 4, 2019, 16:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/145)]

* [ ]  Refactoring writeCrossing and writeTransitions
* [ ]  Deprecate jpsexit

[2019-07-11 09:19] chraibi commented on #157
In Gitlab by @sainho93 on Jun 4, 2019, 16:47

changed the description

[2019-07-11 09:19] chraibi commented on #157
In Gitlab by @sainho93 on Jun 14, 2019, 14:17

mentioned in commit ea67dc720f89c1f44b343e72116af1ee198de4db

[2019-07-11 09:19] chraibi commented on #157
In Gitlab by @sainho93 on Jun 14, 2019, 14:22

Finished in commit d8e7155443f3c2af9af7423a130bf985a28fe43e

[2019-07-11 09:19] chraibi commented on #157
In Gitlab by @sainho93 on Jun 14, 2019, 14:23

closed

[2019-07-11 09:19] #157 closed

[2019-07-11 09:19] chraibi opened #158 "Event log windows for saving error messages"
In Gitlab by @sainho93 on Jun 5, 2019, 16:34 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/146)]

null

[2019-07-11 09:19] chraibi opened #159 "New room class and wall type"
In Gitlab by @anna-braun on Jun 12, 2019, 16:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/147)]

For the new functions in jpscore (issue #300) there need to be some adaptations in jpseditor.
1. wall type="track-x"
2. subroom class="Platform"

@sainho93 We can talk about it next week

[2019-07-11 11:01] #146 closed

[2019-07-11 11:01] chraibi opened #160 "Update ini file reader"
In Gitlab by @sainho93 on Apr 28, 2019, 11:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/134)]

The format of ini file is changed, the praser in JPSeditor must be updated

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on Apr 28, 2019, 11:43

assigned to @sainho93

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on Apr 28, 2019, 11:44

changed the description

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on May 3, 2019, 11:46

mentioned in commit 1f07358fc8d4997cc65eedd3ee623d138886bcea

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on May 3, 2019, 11:46

mentioned in commit bab68ba685430dbe5b2795296042ae323388ea73

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on May 3, 2019, 11:46

mentioned in commit e90d3e15d49a00dd38a2a53e9b6332d94402b3db

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on May 3, 2019, 11:48

Finished in commit:1f07358fc8d4997cc65eedd3ee623d138886bcea

[2019-07-11 11:01] chraibi commented on #160
In Gitlab by @sainho93 on May 3, 2019, 11:48

closed

[2019-07-11 11:01] #160 closed

[2019-07-11 11:01] #147 closed

[2019-07-11 11:01] chraibi opened #161 "Background picture"
In Gitlab by @anna-braun on Jun 12, 2019, 16:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/148)]

For an easier drawing of geometries and if you do not have a CAD file, it should be able to load background pictures.

@sainho93 We can talk about this next week, too.

[2019-07-11 11:02] chraibi opened #162 "Add default values in inifile generator"
In Gitlab by @sainho93 on Jun 25, 2019, 12:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/issues/149)]

null

[2019-07-11 11:02] chraibi commented on #162
In Gitlab by @sainho93 on Jun 25, 2019, 12:31

assigned to @sainho93

[2019-07-11 11:02] chraibi opened #163 "Stairs - [merged]"
In Gitlab by @chraibi on Jul 14, 2017, 18:46 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1)]

_Merges stairs -> develop_

Stairs can be produced with `jpseditor`

Assuming that:

- `stair` is a subroom between two *horizontal* subrooms. These two subrooms have two different `elevation`s
- the subroom is of type `Stair` (uppercase/lowercase not relevant)

The pl

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 14, 2017, 18:46

changed the description

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 14, 2017, 18:49

changed the description

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 14, 2017, 18:53

changed the description

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 14, 2017, 20:28

marked as a **Work In Progress**

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 14, 2017, 22:46

added 1 commit

* fb8ffdde - Fix Bug.

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=71&start_sha=62dba69c665ddf843d30de91cd0361793fa437f3)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 02:09

added 1 commit

* 35dc1f2b - make logging of objects less noisy

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=72&start_sha=fb8ffdde95160ff5b8ec64f1d0cf217797e926e0)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 02:35

added 2 commits

* 5b0ee9d1 - bug when changing elevation (GUI)
* c9576dd8 - simplify &quot;about&quot; message

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=73&start_sha=35dc1f2b3c4b1f2fa29e453901b1376dab3eabc5)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 02:45

unmarked as a **Work In Progress**

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 09:49

added 2 commits

* dc52072c - Make highlighted lines more visible
* d707070e - Highlight rooms when selected in the room list

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=74&start_sha=c9576dd8dea38563b37b785945e871d4ca1788ed)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 20:13

added 2 commits

* e8e8569d - Cursor jumps when changing name of rooms
* e0edb5c2 - Change&#x2F;Hide Caption on Click

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=75&start_sha=d707070e15b746b692979c6678a09d4ff25cd58c)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 22:56

added 1 commit

* 7089fa4a - Correct Show&#x2F;Hide logic

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=76&start_sha=e0edb5c2b2f7c3189dfb23ac47f129b0020b5891)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 15, 2017, 23:23

added 1 commit

* a304d7c4 - change width of lines

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=77&start_sha=7089fa4af3458efeee9d44d513aea053d432365c)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 17, 2017, 21:56

added 6 commits

* 099c5474 - Change obstacle name by return press
* d18fdabe - Update in GUI shown properties of obstacle
* da56b711 - Show&#x2F;hide logic for obstacles
* 5ff08430 - Highlight Obstacles and rooms
* b072b671 - GUI lifting
* 8cc5d28e - W shortcut for wall

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jps

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 19, 2017, 05:36

added 1 commit

* b699c563 - Auto Assign Obstacles

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=84&start_sha=8cc5d28e8bf59487949b07e8b244f6e851821a2b)

[2019-07-11 11:02] chraibi commented on #163
In Gitlab by @chraibi on Jul 20, 2017, 17:24

added 1 commit

* 9648497a - Auto Assign Crossings

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=85&start_sha=b699c5630722606e872d57a1e8ad6c35801ce02a)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 20, 2017, 20:07

added 1 commit

* e8ee1b32 - Add tracing and logging

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=86&start_sha=9648497a5f8b3692ccae6682ad2c489b30e6a1b4)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 21, 2017, 01:12

added 4 commits

* 86c8b66a - Add tracing to datamanager
* be946cef - tracing roomwidget
* 7791c23d - tracing jpscrossing
* 70f4c0e5 - tracing rooms

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=87&start_sha=e8ee1b320e474907f991c2617865842ec24ab2ce)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 24, 2017, 17:07

added 2 commits

* ed63c047 - System crashes when autoSaving
* ed205f98 - Fix small bugs

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=92&start_sha=70f4c0e5f83f3ddd47dcedd190da5e1a9c540df2)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 26, 2017, 20:06

added 1 commit

* 62a5d598 - Format showing mouse coordinates

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=94&start_sha=ed205f98af8bfea7de2f03234377efd931a07554)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 26, 2017, 20:16

added 1 commit

* e2232c4b - Format position of the mouse

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=95&start_sha=62a5d5986a2d10ba640918c07eed8cccf85f7962)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @chraibi on Jul 26, 2017, 20:17

added 2 commits

* 9f279058 - Format position of the mouse
* ef361ef1 - format position of the mouse

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/1/diffs?diff_id=96&start_sha=e2232c4b86e0880445aa5cbf051d4e4d217028bf)

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @Erik-Andresen on Jul 26, 2017, 21:20

merged

[2019-07-11 11:03] chraibi commented on #163
In Gitlab by @Erik-Andresen on Jul 26, 2017, 21:20

mentioned in commit 91ee5c0de71c08b1de7478312532b58fcd2d24bb

[2019-07-11 11:03] #163 closed

[2019-07-11 11:04] chraibi opened #167 "Added origin and x y axis for gridmode - [closed]"
In Gitlab by @sainho93 on May 12, 2018, 00:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/5)]

_Merges feature-OriginXY -> develop_

[2019-07-11 11:04] chraibi commented on #167
In Gitlab by @sainho93 on May 12, 2018, 00:20

assigned to @chraibi

[2019-07-11 11:04] chraibi commented on #167
In Gitlab by @chraibi on May 14, 2018, 11:41

@sainho93 this does not work, because the pipeline is broken.

You should not push the cmake-cache files and .DS_Store and such files..

[2019-07-11 11:04] chraibi commented on #167
In Gitlab by @chraibi on May 15, 2018, 19:23

some news here? :thinking:

[2019-07-11 11:04] chraibi commented on #167
In Gitlab by @sainho93 on May 16, 2018, 01:10

closed

[2019-07-11 11:04] #167 closed

[2019-07-11 11:04] chraibi opened #168 "add Origin and X Y Axis Marks - [merged]"
In Gitlab by @sainho93 on May 16, 2018, 01:17 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/6)]

_Merges feature-OriginXY -> develop_

[2019-07-11 11:04] chraibi commented on #168
In Gitlab by @chraibi on May 16, 2018, 19:29

merged

[2019-07-11 11:04] chraibi commented on #168
In Gitlab by @chraibi on May 16, 2018, 19:29

mentioned in commit 33c5669ecec672492098ddd991cb61deedb0f801

[2019-07-11 11:04] #168 closed

[2019-07-11 11:04] chraibi opened #169 "Feature custom xy - [merged]"
In Gitlab by @sainho93 on May 16, 2018, 17:05 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/7)]

_Merges feature-CustomXY -> develop_

Now user can type x and y to define endpoint for line and Hline.

Warning: the feature Defining length is **removed** for the feature, because the line shouldn't be defined by two ways, that will confuses users.

[2019-07-11 11:04] chraibi commented on #169
In Gitlab by @chraibi on May 16, 2018, 19:30

merged

[2019-07-11 11:04] chraibi commented on #169
In Gitlab by @chraibi on May 16, 2018, 19:30

mentioned in commit a69d9433427808c53925a49e2c95fd9751b1a3fa

[2019-07-11 11:04] #169 closed

[2019-07-11 11:05] chraibi opened #171 "Feature custom xy - [merged]"
In Gitlab by @sainho93 on May 21, 2018, 00:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/9)]

_Merges feature-CustomXY -> develop_

Now can add start point by xy editing tab

[2019-07-11 11:05] chraibi commented on #171
In Gitlab by @chraibi on May 29, 2018, 12:17

merged

[2019-07-11 11:05] chraibi commented on #171
In Gitlab by @chraibi on May 29, 2018, 12:17

mentioned in commit c42f92f5c1e8be8cea8d831f22a07e555ee6cf37

[2019-07-11 11:05] #171 closed

[2019-07-11 11:05] chraibi opened #172 "Feature panning mode - [closed]"
In Gitlab by @sainho93 on May 30, 2018, 16:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/10)]

_Merges feature-PanningMode -> develop_

See details in issue #62

[2019-07-11 11:05] chraibi commented on #172
In Gitlab by @sainho93 on May 30, 2018, 17:10

added 1 commit

<ul><li>3548988d - Fix hand.png</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/10/diffs?diff_id=577&start_sha=f750c2493e77cd5d811b9d64b8ec2da9f5132fe5)

[2019-07-11 11:05] chraibi commented on #172
In Gitlab by @sainho93 on May 30, 2018, 23:26

closed

[2019-07-11 11:05] chraibi commented on #172
In Gitlab by @sainho93 on May 30, 2018, 23:35

reopened

[2019-07-11 11:05] chraibi commented on #172
In Gitlab by @sainho93 on May 31, 2018, 00:00

added 1 commit

<ul><li>05b942a0 - Add .pro file for building in Qt Creator</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/10/diffs?diff_id=579&start_sha=3548988d1f184ddca9bfc1d4551ddb6ad4b7c7d1)

[2019-07-11 11:05] chraibi commented on #172
In Gitlab by @sainho93 on May 31, 2018, 00:00

closed

[2019-07-11 11:05] #172 closed

[2019-07-11 11:05] chraibi opened #173 "Feature panning mode - [closed]"
In Gitlab by @sainho93 on May 31, 2018, 00:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/11)]

_Merges feature-PanningMode -> develop_

See details in issue #62

[2019-07-11 11:05] chraibi commented on #173
In Gitlab by @sainho93 on May 31, 2018, 00:10

closed

[2019-07-11 11:05] #173 closed

[2019-07-11 11:05] chraibi opened #174 "Feature/runner - [merged]"
In Gitlab by @sainho93 on Jul 31, 2018, 20:06 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/12)]

_Merges feature/runner -> develop_

[2019-07-11 11:05] chraibi commented on #174
In Gitlab by @sainho93 on Jul 31, 2018, 20:07

merged

[2019-07-11 11:05] chraibi commented on #174
In Gitlab by @sainho93 on Jul 31, 2018, 20:07

mentioned in commit 6096d2d387de05a2a0545a30806ca88560314c46

[2019-07-11 11:05] #174 closed

[2019-07-11 11:05] chraibi opened #175 "Feature/fds generator v2 - [closed]"
In Gitlab by @sainho93 on Aug 6, 2018, 11:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/13)]

_Merges feature/FDSGenerator-v2 -> develop_

[2019-07-11 11:06] chraibi commented on #175
In Gitlab by @sainho93 on Aug 6, 2018, 11:02

closed

[2019-07-11 11:06] #175 closed

[2019-07-11 11:06] chraibi opened #176 "try with qt5 - [merged]"
In Gitlab by @chraibi on Apr 9, 2019, 06:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpseditor/merge_requests/15)]

_Merges gitlabCI -> master_

QT4 is not installed on the gitlab-runner server.

[2019-07-11 11:06] chraibi commented on #176
In Gitlab by @sainho93 on Apr 9, 2019, 15:31

mentioned in commit 0cb57126f16a0feef7d6544d27d2c82f081ff476

[2019-07-11 11:06] chraibi commented on #176
In Gitlab by @sainho93 on Apr 9, 2019, 15:31

merged

[2019-07-11 11:06] #176 closed

[2019-07-13 07:01] sainho93 commented on #128
@chraibi should JPSeditor try to collaborate with FDS still, or drop this issue?

[2019-07-13 07:04] #80 closed

[2019-07-13 07:06] sainho93 commented on #39
Merge issue into #67

[2019-07-13 07:06] #39 closed

[2019-07-13 07:08] #9 closed

[2019-07-13 08:12] gjaeger commented on #128
I still like an import-export function for FDS files.

I am thinking of using jpscore/jpsfire in fire and evacuation simulations. jpsreport could also be used for evaluating calculations with other programs. An Import/Export function would be a first step.

[2019-07-13 08:16] gjaeger opened #177 "Implementation of jpsTools"
Does it make sense to implement [jpsTools](https://github.com/bsmoehring/jpsTools) in JPSeditor? The repository contains a tool for converting osm-data into jupedsim geometry files.

[2019-07-15 08:27] sainho93 commented on #128
I agree it's a great feature, but it's also a different development path. If there is no strong requirement for our research project, I think this issue isn't in the high priority level.

[2019-07-15 08:28] sainho93 commented on #162
Finished in commit: 0a94056eb17287aa12d9242f7b50e98826478185

[2019-07-15 08:28] #162 closed

[2019-07-15 08:31] sainho93 commented on #116
- [ ] Basic editing for geometry file

[2019-07-15 08:59] sainho93 opened #178 "Default value for all model and test"

[2019-07-15 09:00] sainho93 commented on #178
Reference: [JuPedSim_model_parameters.xlsx](https://github.com/JuPedSim/jpseditor/files/3391531/JuPedSim_model_parameters.xlsx)

[2019-07-17 02:38] chraibi commented on #177
Yes, it makes sense to implement the *functionality* of jpsTools in JPSeditor.

[2019-07-17 06:07] gjaeger commented on #178
Reference for _Generalized Centrifugal Force Model_ (GCFM):

| Parameter | value |
|:----------:|:-----:|
| $$\nu$$ | 0.2|
| $$a_{min}$$ | 0.18 m |
| $$\tau_{a}$$ | 0.43 m |
| $$b_{min}$$ | 0.20 m |
| $$b_{max}$$ | 0.25 m |
| $$\tau$$ | 0.5 s |

Chraibi, M., Seyfried, A., & Schadschneider, A. (2014). Quantitative Validation of the Generalized Centrifugal Force Model. In Pedestrian and Evacuation D

[2019-09-20 09:40] sainho93 commented on #159
Finished in commit: 9cba82885ae82708a573494a95327ae7b1aa4a20

[2019-09-20 09:42] #159 closed

[2019-09-20 09:43] sainho93 commented on #151
Finished in commit: 15302f39ec2d4cfc95273e4f5be5bb8d3787fa3f
This widget is no more used

[2019-09-20 09:43] #151 closed

[2019-09-20 09:44] sainho93 commented on #156
Finished in commit: b2bb866cc97b6ba7c7ce86fb7f0df9499531efac

[2019-09-20 09:44] #156 closed

[2019-09-20 09:47] sainho93 commented on #150
Finished in commit: 6a82a83ef2bd0e089e3df67ef51130de6c4ccf89

[2019-09-20 09:47] #150 closed

[2019-09-20 09:48] sainho93 commented on #7
Finished in commit: 15302f39ec2d4cfc95273e4f5be5bb8d3787fa3f

[2019-09-20 09:48] #7 closed

[2019-09-20 09:49] sainho93 commented on #131
Finished in commit: 15302f39ec2d4cfc95273e4f5be5bb8d3787fa3f

[2019-09-20 09:49] #131 closed

[2019-09-20 09:50] sainho93 commented on #11
Finished in commit: b2bb866cc97b6ba7c7ce86fb7f0df9499531efac

[2019-09-20 09:50] #11 closed

[2019-09-20 09:50] sainho93 commented on #10
Finished in commit: b2bb866cc97b6ba7c7ce86fb7f0df9499531efac

[2019-09-20 09:50] #10 closed

[2019-09-20 09:51] sainho93 commented on #8
repeated issue with #161

[2019-09-23 20:44] sainho93 commented on #178
Finished in commit: d7b518191431357e7bc6827a6b8e04b979fcd980

[2019-09-25 13:42] chraibi commented on #158
We don't need

[2019-09-25 13:42] #158 closed

[2019-09-25 13:57] #37 closed

[2019-09-25 14:02] chraibi opened #182 "Log-file"
Write debug messages in a log file.

Name of the log file should contain a timestamp e.g. `yy-mm-dd-h-m-s.txt`

[2019-09-25 14:06] chraibi opened #183 "Add debug messages in all functions"
To catch the positions in the code, where crash happens,
we need to add more debug message like

Enter function_name
Leave function_name

[2019-09-25 14:36] schroedtert commented on #183
Is there a possibility with C++ and Qt to get the stack trace compiler and platform independent? This would allow a more useful output than just the function names.
Maybe something like http://boostorg.github.io/stacktrace/index.html is a way to handle this. Seems to be header only.

[2019-09-26 06:20] chraibi commented on #183
You are right. Probably related to this [issue](https://github.com/JuPedSim/jpscore/issues/498)

[2019-09-26 20:07] sainho93 commented on #12
Repeated with #38

[2019-09-26 20:07] #12 closed

[2019-09-29 21:37] sainho93 commented on #182
Finished in commit: 8460871ca4e61954e281f7e4ac42c000149f2e07

[2019-09-30 06:42] gjaeger commented on #178
@sainho93 Which values have you implemented now? For which models?

[2019-10-01 03:41] #182 closed

[2019-10-02 10:34] sainho93 opened #186 "Adapt ini file writer with the standard format"

[2019-10-03 12:22] sainho93 commented on #183
Finished in commit: 53eddc260e948b30e5c30d48ace6cc903be193ad

[2019-10-03 12:22] #183 closed

[2019-10-03 12:23] sainho93 commented on #148
Finished in commit: cffd9f4c390f672d13082caffa95e443d5659d71

[2019-10-03 12:23] #148 closed

[2019-10-07 09:23] sainho93 commented on #143
Finished in commit: 20f9bcb6f355a16fa5f3c9f3cbda303df562c9d8

[2019-10-07 09:23] #143 closed

[2019-10-07 10:53] sainho93 commented on #186
Finished in commit: 3294c78203fbee3c120e61dd53426ae3e18a2859

[2019-10-07 10:53] #186 closed

[2019-10-09 07:32] sainho93 commented on #178
Finished in commit: 7ecff7383b1e5eb18239f498979032a88bf34dff

[2019-10-09 07:33] sainho93 commented on #178
@gjaeger I've implemented all tests in the xlsx.

[2019-10-09 07:33] #178 closed

[2019-10-09 10:59] schroedtert opened #192 "Segmentation fault when clicking on drawing mode"
**JuPedSim - JPSeditor**

**Describe the bug**
Segmentation fault when opening JPSEditor and clicking on drawing mode.

[log_2019-10-09-12-55-52.txt](https://github.com/JuPedSim/jpseditor/files/3706967/log_2019-10-09-12-55-52.txt)

[2019-10-10 10:33] sainho93 commented on #192
welches commit und branch bist du?

[2019-10-10 13:19] sainho93 commented on #192
@schroedtert könntest du die commit number mir zeigen? Ich mache ein Test bei dem commit. Ich teste mit commit f423949c, es funktioniert ohne das bug.

[2019-10-10 13:25] chraibi commented on #192
Das ist dasgleiche.

[2019-10-11 07:26] sainho93 commented on #161
Finished in commit: da791e9d5c2185c05608af2689de5d30c5d329fe

[2019-10-11 07:26] #161 closed

[2019-10-11 09:59] schroedtert opened #194 "Use stacked widget for toolbars"
Instead of creating widgets for the different toolbars (drawing, zone) and deleting them. The use of a stacked widget may be helpful. Thus, the widgets just need to be created once and can be moved to the foreground if needed. No need for deleting while the program is running.

https://doc.qt.io/qt-5/qstackedwidget.html

[2019-10-11 10:04] sainho93 opened #195 "Highlighting for whole room"
Highlighting whole room when clicked the room or sunroom in room list widget

[2019-10-11 10:06] sainho93 opened #196 "Choose room id in inifile generator"
In the inifile generator, add a pop-up list to choose room id which are in geometry.

[2019-10-11 10:07] chraibi opened #197 "Add jpscore location to favourites"
Add the location of `jpscore` to settings, otherwise, it's necessary to define the location for every simulation

<img width="319" alt="Screenshot 2019-10-11 12 07 14" src="https://user-images.githubusercontent.com/5772973/66643764-af422600-ec1f-11e9-86fb-b76b64990871.png">

[2019-10-11 10:10] sainho93 opened #198 "Update exit_crossing in inifile template"
exit_crossing for floor field should be 8

[2019-10-11 10:13] sainho93 opened #199 "Running jpsvis in JPSeditor"
Show geometry or trajectory file by jpsvis

[2019-10-11 10:14] sainho93 opened #200 "Loading geometry and inifile as project"
Load geometry and inifile at once as a project to edit it quickly

[2019-10-11 10:27] sainho93 commented on #194
Drawing tool widget is using QToolBar, zone widget is using QDockWidget, the two classes can be layout automatically, when the main windows layout changed, and they won't cover the drawing area. I'm not sure if QStackedWidget works like them. But I'll make a try.

[2019-10-11 10:54] schroedtert commented on #194
As both are inherited from QWidget it should (theoretically) work without problem.

[2019-10-14 10:21] sainho93 commented on #192
This bug is because of mac os Catalina, I'll fix it soon.

[2019-10-14 10:48] chraibi commented on #192
I can confirm this bug on Catalina

[2019-10-14 10:58] gjaeger commented on #192
I can conform this bug on Catalina.

[code]

[2019-10-16 09:40] anna-braun commented on #55
@sainho93 @chraibi
Here are 3 dxf examples with different layers.

[Archiv.zip](https://github.com/JuPedSim/jpseditor/files/3733543/Archiv.zip)

[2019-10-18 10:55] sainho93 commented on #192
Finished in commit: a680bf27199f4a698ccfe16f7c3690909d43f0a2

[2019-10-18 10:55] #192 closed

[2019-11-08 11:03] sainho93 commented on #198
Finished in commit: ed0d0745462d05ea117f6fd85576751ea2119425

[2019-11-08 11:03] #198 closed

[2019-11-08 11:04] sainho93 commented on #197
Finished in commit: 4429948b57294801219f6c22c4303922e536b607

[2019-11-08 11:04] #197 closed

[2019-11-08 11:04] sainho93 commented on #195
Finished in commit: 726e627ab7c0749339149743690adc221e4a5114

[2019-11-08 11:04] #195 closed

[2019-11-25 11:51] sainho93 commented on #55
Finished in commit: b84e755700ed719190da45a0b62757fee6709995

[2019-11-25 11:51] #55 closed

[2019-11-25 11:52] sainho93 commented on #199
Finished in commit: bd1b6564dcf6c63f2c6d0a84ce5eec3afe8056f0

[2019-11-25 11:52] #199 closed

[2019-11-27 10:07] sainho93 opened #206 "DXF from JPSeditor can't open with QCAD"
**JuPedSim - JPSeditor**

- Branch         :  develop

**Describe the bug**
DXF which created from JPSeditor can be opened with JPSeditor but not with QCAD

[2019-11-27 10:12] sainho93 commented on #13
Finished in commit:  24f62728686ef09d99c2b39d6473d36db4c5449a

[2019-11-27 10:12] #13 closed

[2019-11-27 10:14] sainho93 commented on #95
Finished in commit: 24f62728686ef09d99c2b39d6473d36db4c5449a

[2019-11-27 10:14] #95 closed

[2019-11-27 11:26] sainho93 opened #207 "Write and Read source and goal in geometry"
- [x] Read from xml
- [x] Write in dxf
- [x] Read from dxf

[2019-12-05 15:26] chraibi opened #209 "Compilation failed"
Compiling `jpseditor` under Linux failed because of a missing file `../Resources/Icons/door.png`

See screenshot

![Screenshot 2019-12-05 16 24 01](https://user-images.githubusercontent.com/5772973/70248888-e5150e00-177b-11ea-9130-df07c41845ac.png)

[2019-12-06 10:28] sainho93 commented on #209
I knew this issue, the reason is that Qt on linux can't handle png picture like on windows or macOS. I'll fix it.

[2019-12-06 11:09] sainho93 commented on #206
Finished in commit: ddc836b293b6bae8bba9a45a4e2abac821da9d37

[2019-12-06 11:09] #206 closed

[2019-12-09 13:45] chraibi commented on #209
@sainho93 compilation issues should be dealt with with high priority.

[code]

or

[code]

To test on linux.

[2019-12-09 14:46] sainho93 commented on #209
Finished in commit: 0eb6233e387b786c1f91b83ba5ca89b18e36ced4

[2019-12-09 14:46] #209 closed

[2019-12-18 15:02] sainho93 opened #212 "Recognition geometry from DXF"
- Room
- Transition
- Source
- Goal
- Platform

[2020-01-17 11:00] sainho93 opened #213 "Structurally Refactor Geometry"
In JPScore there is a [Structurally Refactor for Geemotrey ](https://github.com/JuPedSim/jpscore/issues/65). Conespondingly, JPSeditor should refactor itself for the changes in JPScore.

[2020-02-06 16:06] sainho93 commented on #212
Finished in commit: 728389827d9fa316515e3cca47a0ae2ab0b70bff

[2020-02-06 16:06] sainho93 commented on #207
Finished in commit: 728389827d9fa316515e3cca47a0ae2ab0b70bff

[2020-02-06 16:06] #207 closed

[2020-03-09 16:10] sainho93 opened #215 "Select layers before importing dxf files"

[2020-03-30 06:10] sainho93 commented on #213
Finished in commit: aaad5f7057992167649792153ef6ef8854a9274a

[2020-03-30 06:10] #213 closed

[2020-03-30 06:11] sainho93 commented on #212
Finished in commit: aaad5f7057992167649792153ef6ef8854a9274a

[2020-03-30 06:11] #212 closed

[2020-03-30 06:11] sainho93 commented on #215
Finished in commit: aaad5f7057992167649792153ef6ef8854a9274a

[2020-03-30 06:11] #215 closed

[2020-04-07 11:56] Squidward63 opened #216 "Ini file creation"
**Bug description**
I'm getting segmentation fault whenever i try to generate the ini file. Input files used: [input_files.zip](https://github.com/JuPedSim/jpseditor/files/4443875/input_files.zip)

**Output**
<code>Enter/Return jpsDatamanager::get_crossinglist</code>
<code>Segmentation fault (core dumped)</code>

**dmesg output**
<code>[   25.479598] rfkill: input handler disabled</code>
<code>[

[2020-04-09 07:46] sainho93 commented on #216
Hi @Squidward63 , which branch do you use to try to generate the ini file? The function `get_crossinglist` is already removed in the lastest commit on develop branch. Maybe you can try to compile with the latest commit.

[2020-04-09 16:14] Squidward63 commented on #216
That's odd, my repository is on the latest commit (0e7162a) on branch master. I'll try to recompile everything and see if it works

[2020-04-09 16:28] Squidward63 commented on #216
I was on branch master. I'll try to compile from the develop branch and see if it works. Thank you!

[2020-04-09 16:43] Squidward63 commented on #216
Yes, it works without any problem now! Thanks again.

[2020-04-09 16:43] #216 closed

[2020-10-25 14:33] Tito-Li opened #222 "path to jpsvis; hardcode "src/widgets/runningwidget.cpp""
I tried to run jpsvis from JPSeditor.

The system is ARCH Linux x86_64, i can start the program and can change the path to jpsvis. I can change the path out of the editor an also in ~/.config/FZJ/JPSeditor.conf.

The app search for "/Contents/MacOS/jpsvis" and i have to modify "src/widgets/runningwidget.cpp".

After that it works.

[2020-10-25 21:21] Tito-Li opened #223 "crash by uning the assemble zone"
[log_2020-10-25-21-16-07.txt](https://github.com/JuPedSim/jpseditor/files/5435985/log_2020-10-25-21-16-07.txt)

The JPSeditor crashes when using the assemble zone – room, stairs, platform. I get a "segmentation fault" as an error message.
I can press one of the three buttons and the window will close immediately.
The log file is attached.

The primary system is ARCH Linux with Xfce.
CPU: Intel(R)

[2020-10-26 16:15] sainho93 commented on #223
The version in the tutorial videos is the old version, the complied version is the new version.

What is the commit for you? Thanks for your log file, I can locate the function where the bug is. But I can't reproduce on my Mac.

[2020-10-26 16:31] sainho93 commented on #222
The hardcode "/Contents/MacOS/jpsvis" in "src/widgets/runningwidget.cpp" is to walk around the permission issue in zsh, it's designed for the jpsvis as a complete application.

If you use the compiled version of jpsvis, this hardcode will be a problem. But because the jpsvis isn't in development any more, so here I'd like to recommand the complete application of jpsvis. So you can modify source co

[2020-10-26 21:36] Tito-Li commented on #223
I am not able to fully understand what is happening and what I am doing.

JPSeditor crash
mkdir build && cd build && cmake .. && make

JPSeditor run
mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make

I haven't tried the usability yet. The "segmentation fault" with a free click does not occur.